---
import { getImage, Image } from 'astro:assets'
import { parseBlogs } from '@utils/common'
import { MarkdownInstance, ImageMetadata } from 'astro'
import Layout from '@layouts/Layout.astro'
import SocialMediaPost from '@components/team/SocialMediaPost.astro'
import Section from '@components/team/Section.astro'
import ContactItem from '@components/team/ContactItem.astro'
import SimpleSection from '@components/team/SimpleSection.astro'
import GreetingSection from '@components/team/GreetingSection.astro'
import QuoteSection from '@components/team/QuoteSection.astro'
import { Person } from '@utils/types'
import { BlogCard } from '@components/BlogCard'
import ContactUsProfile from '@components/ContactUsProfile'
import DraftBanner from '@components/DraftBanner'
import { InvertedGithubIcon, LinkedInIcon, TwitterIcon, EmailIcon } from '@components/Icons'

const isDev = import.meta.env.DEV;

export async function getStaticPaths() {
  const people = await Astro.glob<MarkdownInstance<Person>>(
    '../../data/people/{*.mdx,*.md}'
  )

  // TODO: Replace w/ `import.meta.env.DEV`
  const isDev = true;

  return people
    .filter(
      ({ frontmatter: { expertDraft, expert } }) =>
        (isDev || !expertDraft) && expert
    )
    .map(({ frontmatter, Content }) => ({
      params: { code: frontmatter.code },
      props: { ...frontmatter, Content: Content }
    }))
}

const {
  expertDraft,
  name,
  lastName,
  code,
  jobTitle,

  expertise,
  aboutMe,
  quote,
  previousWorks,

  phone,
  twitter,
  linkedin,
  github,

  Content
} = Astro.props

// Derived props
const fullName = name + ' ' + lastName;
const email = code + '@juxt.pro';

// Blog posts
// TODO: Make nicer
const authorImageImport = {
  heroImageImport: (heroImage) => import(`../../assets/blog/${heroImage}.jpg`),
  authorImageImport: (authorImage) => import(`../../assets/people/${authorImage}.jpg`)
}
const unfilteredBlogs = await parseBlogs({
  rawBlogs: await Astro.glob<MarkdownInstance<Blog>>('/src/pages/blog/{*.mdx,*.md}'),
  rawPeople: await Astro.glob<MarkdownInstance<Person>>('/src/data/people/{*.mdx,*.md}'),
  isDev: isDev,
  getImage,
  ...authorImageImport
})
const filteredBlogs = unfilteredBlogs
    .filter(({ draft, author }) => (isDev || !draft) && (author == code));
const numCards = 4;

// Sort by publishedDate
// NOTE: There's a potential bug here with dates being in different formats
//       e.g. Kpow has the date: 29 Mar 2023, but most other posts use ISO format 2023-03-29
const blogs = filteredBlogs
    .sort((a, b) => new Date(b.publishedDate) - new Date(a.publishedDate));

// TODO: Error on required properties?
// - fullName, jobTitle, expertise
---

<Layout navbar title={fullName + " - " + jobTitle}>
    <DraftBanner draft={expertDraft} pageName='profile' />
    <div class='bg-zinc-900 text-white text-xs overflow-x-hidden'>

      <GreetingSection fullName={fullName} code={code} jobTitle={jobTitle}>
	<h2 class="py-5 text-3xl font-medium">Expert In</h2>
	<ul class="list-disc list-inside text-lg font-medium">
	  <li>Web Standards</li>
	  <li>API Security</li>
	  <li>Databases</li>
	  <li>Clojure Development</li>
	</ul>
      </GreetingSection>

      <SimpleSection>
          <div class="">
            <h2 class="text-xl font-medium">Notable Accomplishments:</h2>
          </div>

          <div class="col-start-2 row-start-2">
	    <h2 class="text-xl font-medium">Why {name}?</h2>
	    <ul class="list-disc list-inside">
	    </ul>
	  </div>
      </SimpleSection>

      <QuoteSection author="Albert Einstein">
	God does not play dice with the Universe
      </QuoteSection>

      <Section className="py-20">
        <div class="pb-10 flex flex-col items-center">
                <h3 class="text-xl font-medium">Latest Blogs</h3>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-[repeat(2,_24rem)] xl:grid-cols-[repeat(3,_24rem)] gap-10 justify-center">
                {
                    /* TODO: Do this using css instead */
                    blogs.slice(0, numCards).map((blog, idx) => (
                        <div class={(idx == (numCards - 1) ? "xl:hidden" : "")}>
                            <BlogCard hideAuthor=true {...blog} />
                        </div>
                    ))
                }
            </div>
        </Section>

        {
            previousWorks &&
            <Section bgClass="bg-[#b76330]" className="py-20">
                <div class="flex flex-col items-center">
                    <h3 class="text-xl font-medium">Previous Works</h3>
                    <p class="pb-10">
                        [downloadable assets that experts can offer on their pages to provide value to visitors and showcase their expertise.]
                    </p>
                </div>

                {
                    previousWorks.map(item => (
                        <>
                            <div class="flex items-center">
                                <div class="grow flex flex-col space-y-4">
                                    <h4 class="text-lg col-span-2">{item.name}</h4>
                                    <p>{item.description}</p>
                                </div>
                                <a href={item.link} target="_blank"
                                   class="rounded-full bg-zinc-800 w-20 h-max px-3 py-3 flex justify-center">
                                    View
                                </a>
                            </div>
                            <hr class="border-black my-5 col-span-2" />
                        </>
                    ))
                }
            </Section>
        }

        <Section className="py-10 flex flex-col md:flex-row gap-10">
            <div class="basis-1 grow">
                <h3 class="text-xl font-medium">Get in Touch</h3>
                <p>
                    We are very approachable and would love to speak to you.
                    Feel free to call, email, tweet or send us a message.
                </p>

                <div class="pt-10 flex flex-col gap-4">
                    <ContactItem>
                        <EmailIcon slot="icon" className="w-7"/>
                        <a href={"mailto:" + email}>{email}</a>
                    </ContactItem>
                    {
                        twitter &&
                        <ContactItem>
                            <TwitterIcon slot="icon" className="w-7"/>
                            <a href={"https://twitter.com/" + twitter} target="_blank">@{twitter}</a>
                        </ContactItem>
                    }
                    {
                        linkedin &&
                        <ContactItem>
                            <LinkedInIcon slot="icon" className="w-6"/>
                            <a href={"https://linkedin.com/in/" + linkedin} target="_blank">{fullName}</a>
                        </ContactItem>
                    }
                    {
                        github &&
                        <ContactItem>
                            <InvertedGithubIcon slot="icon" className="w-9 absolute -bottom-0.5"/>
                            <a href={"https://github.com/" + github} target="_blank">{github}</a>
                        </ContactItem>
                    }
                </div>
            </div>
            { /* Mobile: Horizontal line, otherwise vertical */ }
            <div class="border-t md:border-r border-slate-600"></div>
            <div class="basis-1 grow">
                <h3 class="text-xl font-medium">Send a Message</h3>
                <p>Your message is important to us. We aim to get back to you within 48 hours.</p>
                <div class="pt-5">
                    <ContactUsProfile
                        subject={"New contact submission from " + fullName + "'s profile page"}
                    />
                </div>
            </div>
        </Section>

    </div>
</Layout>
