---
// 1. Replace with:
// import * as myData from '../../data/people/mal.md'
const myData =   {
"frontmatter": {
  "code": "mal",
  "name": "Demo",
  "lastName": "Sparks",
  "fullName": "Mr. Demo",
  "jobTitle": "XXX",
  "email": "demo@juxt.pro",
  "twitter": "@juxt.pro",
  "github": "juxt",
  "linkedin": "juxtpro"
}}

// 2. Here you extract the data needed for the page
const { code, jobTitle, fullName } = myData.frontmatter

// 3. Import any components you need
import { getImage, Image } from 'astro:assets'
import Layout from '@layouts/Layout.astro'

import SimpleSection from '@components/team/SimpleSection.astro'
import GreetingSection from '@components/team/GreetingSection.astro'
import QuoteSection from '@components/team/QuoteSection.astro'
import LatestBlogsSection from '@components/team/LatestBlogsSection.astro'
import ResourceCollectionSection from '@components/team/ResourceCollectionSection.astro'
import ResourceItem from '@components/team/ResourceItem.astro'
import ContactSection from '@components/team/ContactSection.astro'
---
<Layout navbar title={fullName + " - " + jobTitle}>
  <div class='bg-zinc-900 text-white text-xs overflow-x-hidden'>
    <GreetingSection fullName={fullName} code={code} jobTitle={jobTitle}>
      <p class="italic">This is the &lt;GreetingSection&gt;. Anything below this is custom HTML you can add:</p>
      <h2 class="py-5 text-3xl font-medium">Expert In</h2>
      <ul class="list-disc list-inside text-lg font-medium">
	<li>Java, Kotlin</li>
	<li>Security</li>
	<li>Platform Engineering</li>
      </ul>
    </GreetingSection>

    <SimpleSection>
      <div>

	<p class="italic pb-10">This is a &lt;SimpleSection&gt;, it only sets the color for now but is useful as a placeholder and for you to work on copy.</p>

        <h2 class="text-xl font-medium">Background</h2>
	<p class="py-2 italic">
	  Add anything you like here
	</p>
      </div>

      <div class="col-start-2 row-start-1">
        <h2 class="text-xl font-medium">Skills</h2>
	<p class="py-2 italic">
Perhaps write up a few of your skills here.
	</p>

      </div>

      <div class="col-start-2 row-start-2">
	<h2 class="text-xl font-medium">Why {fullName}?</h2>
	<ul class="list-disc list-inside">
	  <li>Item A</li>
	  <li>Item B</li>
	  <li>Item C</li>
	</ul>
      </div>
    </SimpleSection>

    <QuoteSection author="Attribution Needed (perhaps put the author in here)">
      This is the &lt;QuoteSection&gt;. Did you say something profound? Did someone say something nice about you? Why not add it here.
    </QuoteSection>

    <LatestBlogsSection code={code}>
      <p class="italic pt-5">This is a component called &lt;LatestBlogsSection&gt;. You can use it to list your latest blogs. It takes you JUXT code as a parameter!</p>
    </LatestBlogsSection>

    <ResourceCollectionSection title="Notable Works" subtitle="From the web">
      <p class="italic py-5">This is a component called &lt;ResourceCollectionSection&gt;. It's a useful placeholder for various links</p>
      <ResourceItem name="reap" description="A regex and parsing Clojure library" link="https://github.com/juxt/reap"/>
    </ResourceCollectionSection>

    <ContactSection {...myData.frontmatter}>
    </ContactSection>

  </div>
</Layout>
