---
import { getImage } from '@astrojs/image'
import { MarkdownInstance } from 'astro'
import Banner from '../../components/Banner.astro'
import BlogCard, { BlogProps } from '../../components/BlogCard.astro'
import { ChevronLeftIcon, ChevronRightIcon } from '../../components/Icons'
import { Person } from '../../layouts/Expert.astro'
import Layout from '../../layouts/Layout.astro'
import classNames from 'classnames'

const url = Astro.url

export const metadata = {
  navbar: { weight: 3, label: 'Blog', url: '/blog/1' },
  footer: { weight: 3, label: 'Blog', url: '/blog/1' }
}

export async function getStaticPaths({ paginate }) {
  const pages = await Astro.glob<MarkdownInstance<BlogProps>>('./{*.mdx,*.md}')
  const people = await Astro.glob<Person & { default: Person }>(
    '../../data/people/*.json'
  )

  const peopleByThreeLetterCode = people.reduce((acc, person) => {
    const code = person.code
    acc[code] = person.default
    return acc
  }, {})

  const experts = await Astro.glob('../experts/{*.mdx,*.md}')
  const expertsByThreeLetterCode = experts.reduce((acc, expert) => {
    const expertCode = expert.url.split('/').pop()
    acc[expertCode] = expert.url
    return acc
  }, {})

  const isDev = import.meta.env.DEV

  const blogs = pages
    .map((page) => {
      const author = page.frontmatter.author
      const person = peopleByThreeLetterCode[author]
      const expertHref = expertsByThreeLetterCode[author]
      if (!person)
        throw new Error(
          `No person found for author: '${author}' in '${page.url}'`
        )

      return {
        ...page.frontmatter,
        href: page.url,
        person: {
          ...peopleByThreeLetterCode[page.frontmatter.author],
          expertHref: expertHref
        }
      }
    })
    .filter(({ draft }) => isDev || !draft)
    .sort((a, b) => {
      const aDate = new Date(a.publishDate)
      const bDate = new Date(b.publishDate)
      return bDate.getTime() - aDate.getTime()
    })

  return paginate(blogs, { pageSize: 9 })
}

const { page } = Astro.props
const blogs = page.data

const {
  url: { next, prev }
} = page

const blogBannerPicture = await getImage({
  src: import('../../assets/site/blog-banner.jpeg'),
  width: 1500,
  height: 1000,
  quality: 80
}).then((img) => img.src)
---

<Layout navbar title='Blog'>
  <Banner text='Blog' style={{ backgroundImage: `url(${blogBannerPicture})` }}
  />

  <main class='pb-40 transition-colors'>
    <section class='mx-auto max-w-6xl pt-10'>
      <div
        class='grid md:grid-cols-[repeat(2,_20rem)] xl:grid-cols-[repeat(3,_20rem)] justify-center gap-10'
      >
        {blogs.length
          ? blogs.map((blog) => {
              return <BlogCard {...blog} />
            })
          : ''}
      </div>
      <div class='flex justify-center pt-10'>
        {(prev || next) && (
          <div class='flex items-center'>
            <a
              href={prev}
              class:list={[
                'w-12 aspect-square',
                {
                  'cursor-pointer': prev
                }
              ]}
            >
              {
                <ChevronLeftIcon
                  className={classNames('fill-zinc-600 dark:fill-zinc-300', {
                    'fill-zinc-300 dark:fill-zinc-500': !prev
                  })}
                />
              }
            </a>
            <a
              href={next}
              class:list={[
                'w-12 aspect-square',
                {
                  'cursor-pointer': next
                }
              ]}
            >
              {
                <ChevronRightIcon
                  className={classNames('fill-zinc-600 dark:fill-zinc-300', {
                    'fill-zinc-300 dark:fill-zinc-500': !next
                  })}
                />
              }
            </a>
          </div>
        )}
      </div>
    </section>
  </main>
</Layout>
