---
import { Image } from '@astrojs/image/components'
import { MarkdownInstance } from 'astro'
import DraftBanner from '../../components/DraftBanner'
import { GithubIcon, LinkedInIcon, TwitterIcon } from '../../components/Icons'
import { Person } from '../../components/types'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const people = await Astro.glob<MarkdownInstance<Person>>(
    '../../data/people/{*.mdx,*.md}'
  )

  const isDev = import.meta.env.DEV

  return people
    .filter(
      ({ frontmatter: { expertDraft, expert } }) =>
        (isDev || !expertDraft) && expert
    )
    .map(({ frontmatter, Content }) => ({
      params: { code: frontmatter.code },
      props: { ...frontmatter, Content: Content }
    }))
}

const {
  image,
  jobTitle,
  name,
  lastName,
  github,
  linkedin,
  twitter,
  expertDraft,
  expertise,
  Content
} = Astro.props

const imageFilename = image.split('.').slice(0, -1)
const shareIconStyle = 'fill-zinc-100 hover:fill-juxt transition-colors'
---

<Layout navbar title='Experts'>
  <DraftBanner draft={expertDraft} pageName='Expert' />
  <main class='transition-colors text-black'>
    <div class='bg-zinc-900'>
      <div class='px-4 sm:px-12 2xl:px-0 max-w-6xl mx-auto'>
        <div class='flex flex-col lg:flex-row gap-12 items-center pt-10'>
          <div
            class='flex text-center gap-4 max-w-xl mx-auto lg:text-left lg:max-w-none lg:w-1/2 lg:mx-0 flex-col lg:justify-center items-center lg:items-start'
          >
            <div class='flex gap-2 flex-col'>
              <h2 class='text-3xl font-extralight text-zinc-300'>
                {jobTitle}
              </h2>
              <h1
                class='flex text-white flex-col gap-2 text-6xl font-semibold leading-tight pb-4'
              >
                <span>
                  {name}
                </span>
                <span>
                  {lastName}
                </span>
              </h1>
            </div>
            <div class='flex flex-col gap-2'>
              <div class='text-xl font-bold text-zinc-300'>Expertise</div>
              <div class='text-white font-light'>
                {expertise.join(' | ')}
              </div>
            </div>
          </div>
          <Image
            alt='image'
            width={800}
            quality={80}
            alt='author picture'
            class='w-full max-w-3xl lg:max-w-none lg:w-1/2 object-cover'
            src={import(`../../assets/people/${imageFilename}.jpg`)}
          />
        </div>

        <div
          class='pb-20 pt-6 flex justify-center items-center gap-4 lg:justify-end'
        >
          {twitter && (
            <div class='flex justify-around text-sm items-center'>
              <a class='w-6 h-6' target='_blank' href={twitter}>
                {<TwitterIcon className={shareIconStyle} />}
              </a>
            </div>
          )}
          {github && (
            <div class='flex justify-around text-sm items-center'>
              <a class='w-6 h-6' target='_blank' href={github}>
                {<GithubIcon className={shareIconStyle} />}
              </a>
            </div>
          )}
          {linkedin && (
            <div class='flex justify-around text-sm items-center'>
              <a class='w-6 h-6' target='_blank' href={linkedin}>
                {<LinkedInIcon className={shareIconStyle} />}
              </a>
            </div>
          )}
        </div>
      </div>
    </div>
    <article
      class='px-4 py-20 lg:px-0 mx-auto prose prose-a:text-juxt hover:prose-a:text-black prose-a:transition-colors'
    >
      <Content />
    </article>
  </main>
</Layout>
