---
import { getImage } from 'astro:assets'
import AssetImage from '@components/team/AssetImage.astro'
import { MarkdownInstance } from 'astro'
import Banner from '@components/Banner.astro'
import Title from '@components/careers/Title.astro'
import Paragraph from '@components/careers/Paragraph.astro'
import Button from '@components/careers/Button.astro'
import OutlineItem from '@components/careers/OutlineItem.astro'
import Clickable from '@components/Clickable.astro'
import JobCard from '@components/JobCard.astro'
import Section from '@components/Section.astro'
import { CareerPostProps } from '@layouts/CareerPost.astro'
import Layout from '@layouts/Layout.astro'

const isDev = import.meta.env.DEV
const jobPosts =
  await Astro.glob<MarkdownInstance<CareerPostProps>>('./{*.mdx,*.md}')

const jobPostsParsed = jobPosts
  .sort((a, b) => a.frontmatter.weight - b.frontmatter.weight)
  .filter((jobPost) => isDev || !jobPost.frontmatter.draft)

const careersBannerPicture = await getImage({
  src: import('../../assets/site/work-with-us-banner.jpg'),
  width: 1700,
  quality: 90,
  alt: 'work with us'
}).then((img) => img.src)

const workingAtJUXT = await getImage({
  src: import('../../assets/site/careers/working-at-juxt.png'),
  width: 1700,
  quality: 90,
  alt: 'Working at JUXT'
}).then((img) => img.src)

const benefitsPicture = await getImage({
  src: import('../../assets/site/career-benefits.jpeg'),
  width: 1700,
  quality: 90,
  alt: 'benefits'
}).then((img) => img.src)
---

<Layout navbar title='Careers'>
  <Banner
    text='Careers'
    style={{ backgroundImage: `url(${careersBannerPicture})` }}
  />
  <Section className='bg-[#b76330] py-12 text-white'>
    <p class='text-xl md:text-2xl font-extralight'>
      JUXT - a developer-first company, founded and run by developers!
    </p>
  </Section>

  <Section className='bg-zinc-800'>
    <div class='py-20 flex flex-col gap-4'>
      <Title>Why JUXT?</Title>

      <div class='flex gap-8 flex-col lg:flex-row'>
        <div class='lg:w-1/3 flex flex-col gap-4'>
          <Title>Community</Title>
          <Paragraph>
            Amazing developers to work with, and call upon great experience when
            you need
          </Paragraph>
        </div>

        <div class='lg:w-1/3 flex flex-col gap-4'>
          <Title>Accomplishment</Title>
          <Paragraph>
            We're constantly helping each other improve our skills, in
            programming and using our tools
          </Paragraph>
        </div>

        <div class='lg:w-1/3 flex flex-col gap-4'>
          <Title>Opportunity</Title>
          <Paragraph>
            We believe that the technology choices we have made over the years
            give us a huge boost, and we're constantly looking for ways to
            improve
          </Paragraph>
        </div>
      </div>
    </div>
  </Section>

  <Section
    className='py-20 bg-cover bg-center'
    style={{
      backgroundImage: `url(${workingAtJUXT})`
    }}
  >
    <div class='grid grid-cols-1 lg:grid-cols-2'>
      <div class='lg:col-start-2 flex flex-col gap-12'>
        <Title>Working At JUXT</Title>

        <div>
          <Title>Culture</Title>
          <Paragraph>
            We have a developer-led culture. Our developers are at the heart of
            our consulting and product development.
          </Paragraph>
        </div>

        <div>
          <Title>Coding</Title>

          <div class='flex flex-col gap-2'>
            <Paragraph>
              We know coding is hard, so we try to do everything we can to help.
            </Paragraph>

            <Paragraph>
              Letting you focus on your code when you need, but with the support
              of a rich community of colleagues when you need help.
            </Paragraph>

            <Paragraph>
              We're huge fans of Clojure, functional programming, Arch Linux,
              Git, plain-text, and Emacs, or Vim :).
            </Paragraph>

            <Paragraph>
              We're a growing vibrant company, but still small enough for you to
              get to know everyone.
            </Paragraph>
          </div>
        </div>
      </div>
    </div>
  </Section>

  <Section className='bg-zinc-800 text-white py-20'>
    <Title class='pb-10'>Our Hiring Process</Title>

    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
      <OutlineItem title='Write to Us'>
        <AssetImage
          slot='image'
          alt='Pencil'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/pencil.svg'
        />
         If you're interested in joining JUXT, simply email us your CV to
        careers@juxt.pro and we'll provide further guidance through the steps in
        the application process.
      </OutlineItem>

      <OutlineItem title='Intro Interview'>
        <AssetImage
          slot='image'
          alt='Speech Bubble'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/speech-bubble.svg'
        />
         During our introductory interview, we'll delve into your background
        while also providing insights into our company culture and available
        opportunities. We'll schedule the interview call at a time convenient
        for you
      </OutlineItem>

      <OutlineItem title='Technical Test'>
        <AssetImage
          slot='image'
          alt='Cornered Cube'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/cornered-cube.svg'
        />
         Before extending a job offer, we require all candidates to complete a
        technical test. This entails modifying a project for which we'll provide
        specific instructions. The nature of the modification will vary based on
        your level of experience.
      </OutlineItem>

      <OutlineItem title='Technical Interview'>
        <AssetImage
          slot='image'
          alt='Question Mark'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/question-mark.svg'
        />
         This interview is designed for us to discuss your technical test,
        engage in pair programming, and explore your skills further.
      </OutlineItem>

      <OutlineItem title='Final Interview'>
        <AssetImage
          slot='image'
          alt='Hot Drink'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/hot-drink.svg'
        />
         The final interview is to discuss the role and answer any questions you
        may have about working with us.
      </OutlineItem>

      <OutlineItem title='Offer'>
        <AssetImage
          slot='image'
          alt='Check Mark'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/todo-checked.svg'
        />
         Upon successful completion of the interview process, we'll present you
        with a formal offer. This offer will encompass comprehensive details of
        the compensation package, including salary, pension, vacation
        entitlement, and health benefits.
      </OutlineItem>
    </div>

    <div class='flex justify-center pt-5'>
      <a href='#job-openings'>
        <Button>Open Positions</Button>
      </a>
    </div>
  </Section>

  <div class='bg-zinc-800'>
    <div class='flex flex-row h-72 2xl:container 2xl:mx-auto'>
      <AssetImage
        alt='Three JUXT employees walking together'
        class='w-1/3 sepia object-cover object-center hidden md:block'
        width={1000}
        quality={80}
        src='/src/assets/site/careers/walk.jpg'
      />
      <AssetImage
        alt='Three JUXT employees walking together'
        class='md:w-1/3 sepia object-cover object-center'
        width={1000}
        quality={80}
        src='/src/assets/site/careers/rafts.jpg'
      />
      <AssetImage
        alt='Three JUXT employees walking together'
        class='w-1/3 sepia object-cover object-center hidden md:block'
        width={1000}
        quality={80}
        src='/src/assets/site/careers/bikes.jpg'
      />
    </div>
  </div>

  <Section className='bg-zinc-800 text-white py-20'>
    <Title class='pb-10'>Benefits at JUXT</Title>

    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
      <OutlineItem title='All the Hardware You Need'>
        <AssetImage
          slot='image'
          alt='Laptop'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/laptop.svg'
        />
         No barriers between you and the code. Top-of-the-range XPS 13 laptops
        with Arch Linux pre-installed. You have the flexibility to expense any
        additional items necessary for your role, ensuring you have the right
        equipment tailored to your needs.
      </OutlineItem>

      <OutlineItem title='Conferences & Training'>
        <AssetImage
          slot='image'
          alt='Paused Settings Cog'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/paused-cog.svg'
        />
         You have the flexibility to attend training courses and conferences
        that align with your role and career goals. In addition, you can apply
        for sponsorship to pursue professional qualifications, further enhancing
        your expertise.
      </OutlineItem>

      <OutlineItem title='Employee Referral Bonus'>
        <AssetImage
          slot='image'
          alt='Two people icons'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/two-people.svg'
        />
         Our company values the contributions of our employees in building a
        talented team. We offer a generous Referral Bonus Scheme to reward
        employees for referring qualified candidates to join our team.
      </OutlineItem>

      <OutlineItem title='Remote & Office Socials'>
        <AssetImage
          slot='image'
          alt='Burger and Drink'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/burger-and-drink.svg'
        />
         We arrange a weekly lunch in the town of Milton Keynes, offering an
        open invitation to all team members who can attend. Additionally, JUXT
        sponsors weekly team lunches in different locations.
      </OutlineItem>

      <OutlineItem title='Flexible Working Models'>
        <AssetImage
          slot='image'
          alt='Clock'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/clock.svg'
        />
         We offer options such as a remote-first approach, or a hybrid model
        that allows you the freedom to work from anywhere and at hours that best
        fit your schedule.
      </OutlineItem>

      <OutlineItem title='Private Health Insurance'>
        <AssetImage
          slot='image'
          alt='Heart'
          width={100}
          quality={80}
          src='/src/assets/site/careers/icons/heart.svg'
        />
         On successful completion of your probation period, you will be eligible
        to join our BUPA medical scheme. This is offered on a medical history
        disregarded basis and family members can also be covered (subject to
        scheme rules).
      </OutlineItem>
    </div>
  </Section>

  <Section className='py-10 bg-zinc-700 text-white'>
    <div
      class='flex flex-col gap-8 lg:gap-20 md:flex-row justify-center text-center'
    >
      <div>
        <div class='flex justify-center'>
          <h3 class='text-3xl font-light'>Head Office</h3>
        </div>
        <p class='font-light'>Norfolk House, Silbury Blvd.</p>
        <p class='font-light'>Milton Keynes, MK9 2AH</p>
        <p class='font-light'>United Kingdom</p>
      </div>

      <div>
        <div class='flex justify-center'>
          <h3 class='text-3xl font-light'>Email</h3>
        </div>
        <p class='font-light'>For all general enquiries,</p>
        <p class='font-light'>
          please email: <a href='mailto:info@juxt.pro' class='font-medium'
            >info@juxt.pro</a
          >
        </p>
      </div>

      <div>
        <div class='flex justify-center'>
          <h3 class='text-3xl font-light'>Phone</h3>
        </div>
        <p class='font-light'>
          Call us at: <span class='whitespace-nowrap'
            >+44 (0) 333 93 98 309</span
          >
        </p>
        <p class='font-light'>
          or <span class='whitespace-nowrap'>+1 (332) 867 0718</span>
        </p>
      </div>
    </div>
  </Section>

  <Section className='py-20 bg-zinc-800'>
    <div class='flex flex-col gap-10'>
      <div class='flex justify-center'>
        <Title id='job-openings'>Open Positions</Title>
      </div>

      {
        jobPostsParsed.length > 0 ? (
          <>
            <div class='flex flex-col items-center justify-center lg:flex-row lg:flex-wrap gap-[15px]'>
              {jobPostsParsed.map(
                ({
                  url,
                  frontmatter: {
                    department,
                    draft,
                    position,
                    location,
                    contract
                  }
                }) => {
                  return (
                    <button
                      onclick={`window.location.href='${url}'`}
                      class='relative bg-white rounded-sm p-10 w-96 lg:w-[calc(33.333%_-_10px)] text-left hover:cursor-pointer group'
                    >
                      <span class='absolute top-5 right-5 uppercase text-juxt text-xs'>
                        {department}
                      </span>
                      <h2 class='text-lg font-bold pt-10'>
                        {position + (draft ? ' (draft)' : '')}
                      </h2>
                      <div class='pt-10'>
                        <div class='flex gap-3'>
                          <AssetImage
                            alt='Map pin'
                            class='w-3'
                            width={100}
                            quality={80}
                            src='/src/assets/site/careers/icons/pin-dark.svg'
                          />
                          <p>{location}</p>
                        </div>
                        <div class='flex gap-2'>
                          <AssetImage
                            alt='Clock'
                            class='w-4'
                            width={100}
                            quality={80}
                            src='/src/assets/site/careers/icons/clock-dark.svg'
                          />
                          <p>{contract}</p>
                        </div>
                      </div>
                      <div class='flex flex-wrap gap-4 pt-16'>
                        <Button
                          theme='dark'
                          class='group-hover:bg-juxt group-hover:text-white pointer-events-none'
                        >
                          Full Job Profile
                        </Button>
                      </div>
                    </button>
                  )
                }
              )}
            </div>

            <div class='flex flex-col items-center justify-center gap-4'>
              <Title>Can&#39;t find the perfect position?</Title>
              <a href='mailto:careers@juxt.pro?subject=OPEN APPLICATION'>
                <Button>Contact Us Anyway</Button>
              </a>
            </div>
          </>
        ) : (
          <div class='flex flex-col items-center justify-center gap-4'>
            <Paragraph>
              We have a few Engineering Positions open at the moment for
              undisclosed tier-1 finance projects.
            </Paragraph>
            <Paragraph>
              Please click below to contact us for more details.
            </Paragraph>
            <a href='mailto:careers@juxt.pro?subject=OPEN APPLICATION'>
              <Button>Contact Us</Button>
            </a>
          </div>
        )
      }
    </div>
  </Section>
</Layout>
