---
import AssetImage from '@components/team/AssetImage.astro'
import MaybeLink from '@components/team/MaybeLink.astro'

const {
    code,
    firstName, lastName, name = `${firstName} ${lastName}`,
    jobTitle,
    expert,
} = Astro.props;

---
<div class="flex flex-col gap-2 items-center">
    <div class="relative rounded-full w-36 h-36 overflow-hidden bg-[#ce7720]">
        <MaybeLink href={expert ? `/team/${code}` : null}>
            <AssetImage 
                class="absolute top-2"
                src={`/src/assets/team/headshots/${code}.png`}
                alt={`A headshot of ${name}`}>
        </MaybeLink>
    </div>
    <div class="text-sm text-white flex flex-col items-center">
        { /* Not so sure about the styling */ }
        <MaybeLink href={expert ? `/team/${code}` : ""} class="text-[#ce7720]">
            {name}
        </MaybeLink>
        <p>{jobTitle}</p>
    </div>
</div>
