---
import AssetImage from '@components/team/AssetImage.astro'
import MaybeLink from '@components/team/MaybeLink.astro'

const {
    code,
    name, lastName, fullName = `${name} ${lastName}`,
    jobTitle,
    expert,
    idx = 0,
    feature,

    linkedin,
} = Astro.props;

var link = null;
if (feature && feature.link) {
    link = feature.link;
} else if (linkedin) {
    link = `https://www.linkedin.com/in/${linkedin}`;
}

var external = link
    // Not a relative link
    && link.startsWith("http")
    // Not localhost or base domain
    && !link.includes("localhost") && !link.includes("juxt.pro");

const colourClasses = [
    'bg-[#e78041]',
    'bg-[#e7ab40]',
    'bg-[#e29a37]',
    'bg-[#efc286]',
    'bg-[#ab673c]',
    'bg-[#ac490d]',
    'bg-[#ab764d]',
    'bg-[#ac5a43]',
];

const colourClass = colourClasses[idx % colourClasses.length];
---
<MaybeLink href={link} target={external && "_blank"}>
    <div class="flex flex-col gap-2 items-center">
        <div class={"relative rounded w-36 h-36 overflow-hidden " + colourClass}>
            <AssetImage 
                class="absolute top-2"
                src={`/src/assets/team/headshots/${code}.png`}
                width={500}
                alt={`A headshot of ${fullName}`}>
        </div>
        <div class="text-sm text-white flex flex-col items-center">
            <p class="font-bold text-lg">{fullName}</p>
            <p class="font-extralight text-center">{jobTitle}</p>
        </div>
    </div>
</MaybeLink>
