---
import AssetImage from '@components/team/AssetImage.astro'
import MaybeLink from '@components/team/MaybeLink.astro'

var {
    code,
    name, lastName, fullName = `${name} ${lastName}`,
    jobTitle,
    expert,
    img,
    square = true,
} = Astro.props;
---
<MaybeLink href={expert ? `/team/${code}` : null}>
    <div class="flex flex-col gap-2 items-center">
        <div class={"relative w-72 overflow-hidden " + (square ? "h-72" : "h-96") }>
            <AssetImage 
                class={"absolute h-full grayscale hover:grayscale-0 animate duration-300 top-0 object-cover " + Astro.props.class}
                src={img}
                alt={`A headshot of ${fullName}`} />
        </div>
        <div class="text-sm text-white flex flex-col items-center">
            <p class="font-bold text-lg">{fullName}</p>
            <p class="font-extralight">{jobTitle}</p>
        </div>
    </div>
</MaybeLink>
