---
const { owner, name, description } = Astro.props;

const apiUrl = `https://api.github.com/repos/${owner}/${name}`
const url = `https://github.com/${owner}/${name}`

const response = await fetch(apiUrl, {headers: {"accept": "application/json"}});
const data = await response.json();
if (response.status == 403) { console.warn(data) }

---
<a href={url} target="_blank">
  <div class="bg-zinc-800 p-5 transition-colors cursor-pointer hover:bg-juxt h-full rounded-sm">
    <div class="flex gap-2">
      <div class="text-xl font-normal">
        {name}
      </div>
      {data.stargazers_count
       ? <div class="font-normal">
           {`(${data.stargazers_count} stars)`}
         </div>
       : null }
    </div>
    <p>
      {description}
    </p>
  </div>
</a>
