---
const { owner, name, description } = Astro.props;

const apiUrl = `https://api.github.com/repos/${owner}/${name}`
const url = `https://github.com/${owner}/${name}`

const response = await fetch(apiUrl, {headers: {"accept": "application/json"}});
const data = await response.json();
if (response.status == 403) { console.warn(data) }

const actualDescription = data.description ? `${data.description} (${data.stargazers_count} stars)` : description;

---
<div class="flex items-center">
  <div class="grow flex flex-col space-y-1">
    <h4 class="text-lg col-span-2">{name}</h4>
    <p>{actualDescription}</p>
  </div>
  <a href={url} target="_blank"
    class="shrink-0 rounded-full bg-zinc-800 w-20 h-max px-3 py-3 flex justify-center">
    View
  </a>
</div>
<hr class="border-black my-5 col-span-2" />
