---
import Banner from '../components/Banner.astro'
import Clickable from '../components/Clickable.astro'
import { ChevronRightIcon, QuoteIcon, TickIcon } from '../components/Icons'
import Section from '../components/Section.astro'
import { CaseStudyProps } from '../layouts/CaseStudy.astro'
import Layout from '../layouts/Layout.astro'
import { cloudImage } from '../utils'
import CaseStudy from '../layouts/CaseStudy.astro'
import { BlogCard, BlogProps, Person } from '../components/Blog'
const url = Astro.url

const caseStudies = await Astro.glob<CaseStudyProps>(
  '../data/case-studies/*.json'
)

const caseStudiesParsed = caseStudies
  .filter(({ pages }) => pages[url.pathname])
  .sort((a, b) => a.pages[url.pathname].weight - b.pages[url.pathname].weight)

const homepageBannerPicture = cloudImage(
  '/images/site/homepage-banner.jpeg?width=1500',
  url
)
const threadsPicture = cloudImage('/images/site/threads.png?width=600', url)
const sphereTimePicture = cloudImage(
  '/images/site/sphere-time.png?width=500',
  url
)
const sphereDataPicture = cloudImage(
  '/images/site/sphere-data.png?width=500',
  url
)
const sphereFormPicture = cloudImage(
  '/images/site/sphere-form.png?width=500',
  url
)
const sphereCodePicture = cloudImage(
  '/images/site/sphere-code.png?width=500',
  url
)
const techTalkingPicture = cloudImage(
  '/images/site/tech-talking.jpg?width=500',
  url
)
const fundingCircleMalPicture = cloudImage(
  '/images/site/funding-circle-mal.webp?width=500',
  url
)
const malTeachingPicture = cloudImage(
  '/images/site/mal-teaching.jpeg?width=500',
  url
)
const fundingCircleJonPicture = cloudImage(
  '/images/site/funding-circle-jon.jpeg?width=500',
  url
)
const cloudProvidersPicture = cloudImage(
  '/images/site/cloud-provider-logos.png?width=500',
  url
)
const wavesPicture = cloudImage('/images/site/waves.png?width=1500', url)

const testimonials = [
  {
    name: 'MORGAN ROSS, TECHNICAL DIRECTOR, ONTHEMARKET PLC',
    quote:
      'JUXT led the development team through this period of incredible achievements.',
    bg: 'bg-red-600'
  },
  {
    name: 'MANAGING DIRECTOR, T1 INVESTMENT BANK',
    quote:
      'The JUXT team are tremendously technically capable – delivering elegant solutions to complex problems.',
    bg: 'bg-green-800'
  },
  {
    name: 'ANDY DWELLEY',
    quote: 'XTDB has been an absolute dream to use.',
    bg: 'bg-slate-800'
  },
  {
    name: 'PATRICK GALVIN',
    quote: 'XTDB has been working great for me. It is a lovely lovely project.',
    bg: 'bg-blue-800'
  },
  {
    name: 'JULIAN GAMBLE',
    quote:
      'JUXT have made a huge contribution to the Open Source and Clojure community',
    bg: 'bg-pink-800'
  },
  {
    name: 'NIC FERRIER',
    quote:
      'They are programmers employing programmers to do work with the best tools in the most interesting ways.',
    bg: 'bg-violet-800'
  },
  {
    name: "JACOB O'BRYANT",
    quote:
      'I really appreciate the straightforward simplicity of schemaless persistence. With XTDB it was just so easy.',
    bg: 'bg-gray-800'
  }
]

const clientLogos = [
  'credit-suisse.svg',
  'citi.svg',
  'vodafone.svg',
  'on-the-market.svg',
  'mail-online.svg',
  'bbc.svg'
]

const pages = await Astro.glob<BlogProps>('./blog/*.md')
const people = await Astro.glob<Person & { default: Person }>(
  '../data/people/*.json'
)

const peopleByThreeLetterCode = people.reduce((acc, person) => {
  const code = person.code
  acc[code] = person.default
  return acc
}, {})

const isDev = import.meta.env.DEV

const featuredBlogs = pages
  .map((page) => {
    const author = page.frontmatter.author
    const person = peopleByThreeLetterCode[author]
    if (!person)
      throw new Error(
        `No person found for author: '${author}' in '${page.url}'`
      )

    return {
      ...page.frontmatter,
      href: page.url,
      person: peopleByThreeLetterCode[page.frontmatter.author]
    }
  })
  .filter(({ featured, draft }) => featured && (isDev || !draft))
  .sort((a, b) => b.featured.weight - a.featured.weight)
---

<Layout title='JUXT' navbar navbarNoBg>
  <main>
    <Banner
      navbarNoBg
      text='Scaling Simplicity'
      style={{
        backgroundImage: `url(${homepageBannerPicture})`
      }}
    />
    <Section className='bg-gray-800 py-28 text-white'>
      <h2 class='pb-4 text-3xl md:text-4xl'>
        Complexity limits your organisation’s potential
      </h2>
      <p class='text-xl md:text-2xl font-extralight'>
        We are a unique software engineering firm, with a track record of
        rapidly delivering high-quality IT systems to meet challenging business
        objectives.
      </p>
    </Section>

    <Section
      style={{
        backgroundImage: `url(${threadsPicture})`
      }}
      className={'bg-slate-900 bg-[length:0px_0px] md:bg-no-repeat md:bg-right md:bg-contain py-20 text-white'}
    >
      <div class='md:w-1/2'>
        <h2 class='text-4xl pb-10 font-bold'>Our Approach</h2>
        <div class='text-lg font-extralight flex flex-col gap-8'>
          <p class=''>
            Complexity, still the primary cause of failure and delay of IT
            projects, arises from the <span class='italic'>
              interaction of concerns.
            </span>
          </p>
          <p class=''>
            The fundamental concerns in IT systems are
            <span class='font-bold text-juxt'>code</span>,
            <span class='font-bold text-juxt'>form</span>,
            <span class='font-bold text-juxt'>data</span>, and
            <span class='font-bold text-juxt'>time</span>
             — their subtle interactions and couplings combine to have a suffocating
            impact on software projects.
          </p>
          <p class=''>
            Our approach to building IT systems is defined by a unique
            methodology and a set of supporting tools that allow us to keep
            these four concerns separate, resulting in:
          </p>
          <div class='flex flex-col gap-6'>
            <div class='flex gap-4 items-center'>
              <div class='bg-gray-800 w-6 h-6 shrink-0 border border-juxt'>
                <TickIcon className={'fill-white'} />
              </div>
              <p>Rapid development of large IT systems</p>
            </div>

            <div class='flex gap-4 items-center'>
              <div class='bg-gray-800 w-6 h-6 shrink-0 border border-juxt'>
                <TickIcon className={'fill-white'} />
              </div>
              <p>Increased levels of agility and software re-use</p>
            </div>
            <div class='flex gap-4 items-center'>
              <div class='bg-gray-800 w-6 h-6 shrink-0 border border-juxt'>
                <TickIcon className={'fill-white'} />
              </div>
              <p>Lower maintenance costs</p>
            </div>
            <div class='flex gap-4 items-center'>
              <div class='bg-gray-800 w-6 h-6 shrink-0 border border-juxt'>
                <TickIcon className={'fill-white'} />
              </div>
              <p>Secure, reliable systems that are robust yet flexible</p>
            </div>
          </div>
        </div>
      </div>
    </Section>
    <Section className={'bg-white py-20 text-black'}>
      <div class='flex justify-between flex-col lg:flex-row'>
        <div class='lg:w-1/2'>
          <h2 class='text-6xl lg:text-7xl font-semibold pb-10 uppercase'>
            Time
          </h2>
          <div class='font-extralight flex flex-col gap-6'>
            <p class=''>
              We believe that systems should be built on the conceptual bedrock
              of a dual timeline. This provides a universal set of essential
              capabilities for organisations who operate within disparate and
              ever-evolving landscapes of information, and who require an
              accurate and consistent view of information at any point:
              <span class='italic'>past</span>,
              <span class='italic'>present</span> and
              <span class='italic'>future</span>.
            </p>
            <p>The main timeline is fully controllable and it allows for:</p>
            <div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-black'} />
                </div>
                <p>Historical corrections</p>
              </div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-black'} />
                </div>
                <p>The integration of imported records</p>
              </div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-black'} />
                </div>
                <p>The previewable orchestration of future states</p>
              </div>
            </div>
            <p>
              The secondary timeline is immutable and provides a guaranteed
              audit trail, 'built-in'.
            </p>
          </div>
        </div>
        <div
          class='lg:w-1/2 lg:self-center flex justify-center lg:justify-end overflow-hidden'
        >
          <img
            class='sm:w-4/5 lg:w-11/12 animate-[spin_100s_linear_infinite]'
            src={sphereTimePicture}
            alt=''
          />
        </div>
      </div>
    </Section>
    <Section className={'bg-black py-20'}>
      <div class='flex justify-between flex-col-reverse lg:flex-row text-white'>
        <div
          class='lg:w-1/2 lg:self-center flex justify-center lg:justify-start overflow-hidden'
        >
          <img
            class='sm:w-4/5 lg:w-11/12 animate-[spin_100s_linear_infinite]'
            src={sphereDataPicture}
            alt=''
          />
        </div>
        <div class='lg:w-1/2'>
          <h2 class='text-6xl lg:text-7xl font-semibold pb-10 uppercase'>
            Data
          </h2>
          <div class='font-extralight flex flex-col gap-6'>
            <p>
              Data is fundamental to the creation of software. It will routinely
              outlive the interpretations we derive from it and the applications
              we build on top of it. Therefore, we will always seek to lay the
              foundations of data management independently of a particular
              application or use-case, and above a
              <span class='italic'>common timeline</span>.
            </p>
            <p>
              Table-based structures, found in spreadsheets and traditional SQL
              databases, are helpful for displaying and analysing data, but they
              are not an appropriate format for storing data.
            </p>
            <p>
              Tables are insufficient for representing data in its purest form,
              and this is particularly obvious when modelling sparse data or
              multi-valued attributes, or coping with the evolution of data over
              time.
            </p>
            <p>
              Instead, we believe that data is best recorded as units of facts
              and relationships, without constraints.
            </p>
            <p>
              More simply put, we believe graph-oriented systems point us
              towards the correct approach for data management, and
              organisations such as
              <span class='font-bold text-juxt'>Facebook</span> and
              <span class='font-bold text-juxt'>Google</span> have proved how powerful
              the widespread use of graph-structured data can be.
            </p>
          </div>
        </div>
      </div>
    </Section>
    <Section className={'bg-white py-20 text-black'}>
      <div class='flex justify-between flex-col lg:flex-row'>
        <div class='lg:w-1/2'>
          <h2 class='text-6xl lg:text-7xl font-semibold pb-10 uppercase'>
            Form
          </h2>
          <div class='font-extralight flex flex-col gap-6'>
            <p>
              Organisations can unlock different amounts of value from data
              depending on how they interpret it, how they shape it and the
              constraints they place on it.
            </p>
            <p>
              Complex
              <span class='italic'>
                types & tables, schemas & structures, classes & containers,
                models & metadata, formats & encodings, representations.
              </span>
            </p>
            <p>
              These are the <span class='font-bold text-juxt'>forms</span> we construct
              for interpreting, analysing and extracting value from our data. Tools
              such as relational schemas and ontologies are common structures we
              use for understanding, analysing and managing our information.
            </p>
            <p>
              Too often, software developers will attempt to "codify" these
              structures into their software as types and objects.
            </p>
            <p>
              By understanding that schema is just another form of data, on a
              timeline, we let our information systems grow and flex with the
              businesses they serve. This is how we are able to build
              maintainable models of the real world.
            </p>
          </div>
        </div>
        <div
          class='lg:w-1/2 lg:self-center flex justify-center lg:justify-end overflow-hidden'
        >
          <img
            class='sm:w-4/5 lg:w-11/12 animate-[spin_100s_linear_infinite]'
            src={sphereFormPicture}
            alt=''
          />
        </div>
      </div>
    </Section>
    <Section className={'bg-black py-20'}>
      <div class='flex justify-between flex-col-reverse lg:flex-row text-white'>
        <div
          class='lg:w-1/2 lg:self-center flex justify-center lg:justify-start relative'
        >
          <img
            class='sm:w-4/5 lg:w-10/12 animate-[spin_100s_linear_infinite]'
            src={sphereCodePicture}
            alt=''
          />
          <img
            class='sm:w-4/5 lg:w-10/12 absolute top-0 left-1/2 lg:left-0 transform lg:translate-x-0 -translate-x-1/2'
            src={sphereFormPicture}
            alt=''
          />
        </div>
        <div class='lg:w-1/2 pb-16'>
          <h2 class='text-6xl lg:text-7xl font-semibold pb-10 uppercase'>
            Code
          </h2>
          <div class='font-extralight flex flex-col gap-6'>
            <p>
              The software <span class='italic'>patterns</span> and
              <span class='italic'>practices</span> that underlie your application
              architecture are certainly important, but less fundamentally relevant
              than making the correct choices with regards to the structure of your
              data in time. Assuming those other foundations are in place, we believe
              that the best approach to code is to keep it
              <span class='italic'>short, readable</span> and
              <span class='italic'>expressive</span>.
            </p>
            <p>In reality this means we prefer:</p>
            <div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-white'} />
                </div>
                <p>
                  Writing modular & generic libraries of functions that operate
                  over many types of data structures
                </p>
              </div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-white'} />
                </div>
                <p>Minimising the use of state wherever possible</p>
              </div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-white'} />
                </div>
                <p>
                  Maintaining declarative structures that avoid the need for
                  reasoning about imperative control flows
                </p>
              </div>
            </div>
            <p>
              By pulling out the state and domain, the remaining code is simple.
              Developers can focus on writing code to implement business
              <span class='italic'>logic</span>, pure functional
              <span class='italic'>calculations</span> and
              <span class='italic'>derivations</span>, with resulting
              <span class='italic'>actions</span> that automate the execution of
              business processes.
            </p>
            <p>As software complexity is tamed, productivity soars.</p>
          </div>
        </div>
      </div>
    </Section>
    <Section className={'bg-white py-20 text-black'}>
      <div>
        <div class='lg:w-2/3'>
          <h2 class='text-4xl pb-10 font-bold'>Enabling Technologies</h2>
          <h3 class='text-xl font-extralight pb-14 lg:pb-20'>
            We select and develop particular tools and technologies that compose
            harmoniously, chosen to support our methodology.
          </h3>
        </div>
      </div>

      <div class='flex flex-col gap-24'>
        <div
          class='flex justify-center gap-14 items-center md:items-start lg:items-center flex-col-reverse lg:flex-row'
        >
          <div class='w-full h-96'>
            <img
              class='w-full h-full object-cover'
              src={techTalkingPicture}
              alt=''
            />
          </div>
          <div class='lg:w-1/2 shrink-0'>
            <h2 class='text-4xl font-semibold pb-10'>XTDB</h2>
            <div class='font-extralight flex flex-col gap-6'>
              <p>XTDB is our unbundled bitemporal graph database:</p>
              <div>
                <div class='flex items-center'>
                  <div class='w-8 h-8 shrink-0'>
                    <ChevronRightIcon className={'fill-black'} />
                  </div>
                  <p>Transactional consistency</p>
                </div>
                <div class='flex items-center'>
                  <div class='w-8 h-8 shrink-0'>
                    <ChevronRightIcon className={'fill-black'} />
                  </div>
                  <p>Query with Datalog, EQL, or SQL</p>
                </div>
                <div class='flex items-center'>
                  <div class='w-8 h-8 shrink-0'>
                    <ChevronRightIcon className={'fill-black'} />
                  </div>
                  <p>
                    Pluggable backends include PostgreSQL, Kafka, RocksDB and
                    many more
                  </p>
                </div>
              </div>
              <p>
                XTDB provides the data 'time-line' as a value, storing both
                'valid' time and 'transaction' time. Queries that are often
                impossible in other databases are made simple in XTDB.
              </p>
              <Clickable>
                <a href='https://xtdb.com/' target='_blank'>
                  See more at xtdb.com
                </a>
              </Clickable>
            </div>
          </div>
        </div>

        <div
          class='flex justify-center items-center md:items-start lg:items-center gap-14 flex-col-reverse lg:flex-row-reverse'
        >
          <div class='w-full h-96'>
            <img
              class='w-full h-full object-cover'
              src={fundingCircleMalPicture}
              alt=''
            />
          </div>
          <div class='lg:w-1/2 shrink-0'>
            <h2 class='text-4xl font-semibold pb-10'>Clojure</h2>
            <div class='font-extralight flex flex-col gap-6'>
              <p>
                Many object-oriented programming languages coax the developer
                into coupling code with data.
              </p>
              <p>
                Functional programming languages pull them apart. Our go-to
                functional programming language  — Clojure — goes further,
                providing language features to protect simplicity.
              </p>
            </div>
          </div>
        </div>

        <div
          class='flex justify-center gap-14 items-center md:items-start lg:items-center flex-col-reverse lg:flex-row'
        >
          <div class='w-full h-96'>
            <img
              class='w-full h-full object-cover'
              src={malTeachingPicture}
              alt=''
            />
          </div>
          <div class='lg:w-1/2 shrink-0'>
            <h2 class='text-4xl font-semibold pb-10'>Agile</h2>
            <div class='font-extralight flex flex-col gap-6'>
              <p>
                JUXT's leadership is made up of experienced software consultants
                who have led Agile projects, run Agile training courses and
                brought Agile methodologies into large organisations.
              </p>
              <p>
                We have taken the best parts of Agile methodologies and combined
                them into a process that scales and delivers. We deploy often,
                provide regular showcases and encourage daily stand-ups. We use
                best-of-breed tools to provide transparency and to manage
                project work-streams.
              </p>
            </div>
          </div>
        </div>

        <div
          class='flex justify-center items-center md:items-start lg:items-center gap-14 flex-col-reverse lg:flex-row-reverse'
        >
          <div class='w-full h-96'>
            <img
              class='w-full h-full object-cover'
              src={fundingCircleJonPicture}
              alt=''
            />
          </div>
          <div class='lg:w-1/2 shrink-0'>
            <h2 class='text-4xl font-semibold pb-10'>Cloud</h2>
            <div class='font-extralight flex flex-col gap-6'>
              <p>
                We’ve been building systems on AWS since early 2014, over that
                time we’ve accumulated first-hand knowledge and expertise of
                managing and automating AWS infrastructure.
              </p>
              <p>
                Our AWS systems have been successfully audited for PCI DSS
                compliance and won praise for their operational stability,
                information security and regulatory compliance. We have
                experience in meeting GDPR requirements and protecting data
                privacy.
              </p>

              <img
                class='w-full sm:max-w-md'
                src={cloudProvidersPicture}
                alt='aws, google cloud, heroku'
              />
            </div>
          </div>
        </div>
      </div>
    </Section>

    <Section
      style={{ backgroundImage: `url(${wavesPicture})` }}
      className={'bg-zinc-900 bg-[length:0px_0px] bg-bottom lg:bg-cover bg-no-repeat py-20'}
    >
      <h2 class='text-4xl pb-20 text-white font-bold'>
        Simplicity Delivers Results
      </h2>
      <div class='flex flex-wrap gap-20'>
        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            1
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Delivery Focus</div>
            <div class='font-extralight text-slate-300'>
              We can lead complex multi-team engineering projects and meet tough
              deadlines
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            2
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>
              Precision Engineering
            </div>
            <div class='font-extralight text-slate-300'>
              Our highly skilled teams are collaborative and iterate quickly
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            3
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Visibility</div>
            <div class='font-extralight text-slate-300'>
              We use development processes that are optimised for visibility, to
              keep projects on track
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            4
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Modern</div>
            <div class='font-extralight text-slate-300'>
              Our tool-set empowers us to satisfy today’s demanding standards
              and user expectations, and our systems utilise the latest
              techniques for maximising performance, scalability and
              cost-efficiency
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            5
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Automation</div>
            <div class='font-extralight text-slate-300'>
              We are able to deploy into any cloud or private environment with
              speed and with reliability
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            6
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Re-use</div>
            <div class='font-extralight text-slate-300'>
              We maintain an extensive library of battle-tested open-source
              components that fit together and allows us to deliver custom
              systems rapidly
            </div>
          </div>
        </div>
      </div>
    </Section>

    <Section className='bg-white py-20 text-black'>
      <div class='flex gap-6 md:gap-10 flex-col lg:flex-row justify-center'>
        <h2 class='text-5xl font-extralight self-center'>Our Stories</h2>
        <div class='lg:w-[1px] h-[1px] lg:h-auto bg-black lg:py-20'></div>
        <h3
          class='text-3xl font-extralight text-center lg:text-left self-center max-w-lg sm:leading-relaxed'
        >
          Here are some of the projects we've been proud to build.
        </h3>
      </div>

      <div class='flex flex-col gap-36 py-28'>
        {caseStudiesParsed.map((caseStudy) => <CaseStudy {...caseStudy} />)}
      </div>
      <div class='flex justify-center'>
        <Clickable>
          <a href='/case-studies' class='text-lg'> See all case studies</a>
        </Clickable>
      </div>
    </Section>

    <div class='pb-20 bg-black'>
      <div class='splide py-20'>
        <div class='splide__track'>
          <ul class='splide__list  '>
            {testimonials.map(({ quote, name, bg }) => (
              <li class='splide__slide'>
                <div
                  class:list={[
                    'w-full md:w-[35rem] h-72 md:h-80 border border-black p-4 md:py-10 md:px-8',
                    bg
                  ]}
                >
                  <div class='flex py-16 md:py-0 gap-6 h-full'>
                    <QuoteIcon className='w-6 h-6 md:w-10 fill-juxt shrink-0' />
                    <div class='flex flex-col justify-between gap-4 max-w-xs sm:max-w-sm md:max-w-none'>
                      <div class='text-xl md:text-2xl text-white'>{quote}</div>
                      <div class='text-sm uppercase font-semibold'>{name}</div>
                    </div>
                  </div>
                </div>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>

    <link rel='stylesheet' href='/styles/splide.min.css' />
    <script is:inline src='/scripts/splide.min.js'>

    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // @ts-ignore
        new Splide('.splide', {
          type: 'loop',
          perPage: 2,
          focus: 'center',
          autoWidth: true,
          rewind: true,
          rewindByDrag: true,
          padding: '10%',
          gap: '10%',
          autoplay: true,
          interval: 4000,
          pagination: true,
          throttle: 300,
          breakpoints: {
            768: {
              perPage: 1,
              padding: 0,
              arrows: false
            }
          }
        }).mount()
      })
    </script>

    <Section className='pt-20 pb-40 bg-black'>
      <div
        class='flex flex-wrap py-6 justify-center border-b border-t border-gray-800'
      >
        {clientLogos.map((logo) => (
          <img
            src={`/images/client-logos/${logo}`}
            alt=''
            class='w-32 h-32 md:w-40 md:h-40'
          />
        ))}
      </div>
    </Section>
    <Section className='text-black py-20 md:py-40'>
      <div
        class='flex flex-col-reverse items-center md:flex-row justify-center gap-10 md:gap-16'
      >
        <div class='flex flex-col gap-4 text-center md:text-left'>
          <div class='text-5xl md:text-6xl font-bold'>Talk to us</div>
          <div class='text-2xl md:text-3xl font-light'>info@juxt.pro</div>
          <div class='text-2xl md:text-3xl font-light'>
            +44 (0) 333 93 98 309
          </div>
        </div>
        <img class='w-40 md:w-60' src='/images/site/airplane.png' alt='' />
      </div>
    </Section>
    <Section
      className='py-20 dark:bg-gray-900 bg-zinc-100 text-black dark:text-white'
    >
      <h2 class='justify-center flex text-4xl pb-10 font-bold'>
        Featured Articles
      </h2>
      <div class='mx-auto max-w-6xl pt-10'>
        <div class='grid md:grid-cols-[repeat(2,_20rem)] justify-center gap-20'>
          {featuredBlogs.length
            ? featuredBlogs.map((blog) => {
                return <BlogCard blog={blog} />
              })
            : ''}
        </div>
      </div>
    </Section>
    <Section className='py-20 text-white bg-black'>
      <div>
        <header class='py-16 sm:text-center'>
          <h1
            class='mb-4 text-4xl font-bold tracking-tight dark:text-slate-200'
          >
            Stay in touch
          </h1>
          <p class='lg:w-1/2 mx-auto text-lg text-slate-400'>
            We'll let you know when new blogs are updated along with the latest
            in JUXT news.
          </p>
          <section class='mt-3 max-w-sm sm:mx-auto sm:px-4'>
            <h2 class='sr-only'>Sign up for our newsletter</h2>
            <form
              target='_blank'
              action='https://JUXT.us13.list-manage.com/subscribe/post?u=b72ef384b5199134185cbeed8&id=a5edacb9c2'
              method='post'
              class='flex gap-2 flex-wrap -mx-2'
            >
              <div class='grow-[9999] basis-64 mt-3'>
                <div class='group relative'>
                  <svg
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='currentColor'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    aria-hidden='true'
                    class='w-6 h-full absolute inset-y-0 left-3 text-slate-400 pointer-events-none group-focus-within:text-slate-400'
                  >
                    <path
                      d='M5 7.92C5 6.86 5.865 6 6.931 6h10.138C18.135 6 19 6.86 19 7.92v8.16c0 1.06-.865 1.92-1.931 1.92H6.931A1.926 1.926 0 0 1 5 16.08V7.92Z'
                    ></path>
                    <path d='m6 7 6 5 6-5'></path>
                  </svg>
                  <input
                    type='email'
                    id='EMAIL-2'
                    name='EMAIL-2'
                    aria-label='Email address'
                    class='appearance-none shadow ring-1 leading-5 sm:text-sm border border-transparent py-2 placeholder:text-slate-400 pl-12 pr-3 block w-full focus:outline-none focus:ring-2 bg-white bg-slate-700/20 ring-slate-200/30 focus:ring-slate-500 text-white'
                    placeholder='Subscribe via email'
                  />
                </div>
              </div>
              <div
                class='grow flex mt-3 border ring-1 ring-juxt border-juxt px-4 py-1.5 w-fit hover:bg-juxt transition-colors cursor-pointer hover:text-white visited:text-white active:text-white font-normal text-sm'
              >
                <button type='submit'>Subscribe</button>
              </div>
            </form>
          </section>
        </header>
      </div>
    </Section>
  </main>
</Layout>
