---
import { getImage } from '@astrojs/image'
import { Image } from '@astrojs/image/components'
import { MarkdownInstance } from 'astro'
import Banner from '../components/Banner.astro'
import { BlogCard } from '../components/BlogCard'
import Clickable from '../components/Clickable.astro'
import { ChevronRightIcon, QuoteIcon, TickIcon } from '../components/Icons'
import Section from '../components/Section.astro'
import CaseStudy, { CaseStudyProps } from '../layouts/CaseStudy.astro'
import Layout from '../layouts/Layout.astro'
import { Person, Blog } from '../components/types'

const url = Astro.url

const caseStudies = await Astro.glob<CaseStudyProps>(
  '../data/case-studies/*.md'
)

const caseStudiesParsed = caseStudies
  .filter(({ frontmatter }) => frontmatter.pages[url.pathname])
  .sort(
    (a, b) =>
      a.frontmatter.pages[url.pathname].weight -
      b.frontmatter.pages[url.pathname].weight
  )

const homepageBannerPicture = await getImage({
  src: import('../assets/site/homepage-banner.jpeg'),
  width: 1500,
  height: 1000,
  quality: 80
}).then((img) => img.src)

const threadsPicture = await getImage({
  src: import('../assets/site/threads.png'),
  width: 600,
  height: 1366,
  quality: 80
}).then((img) => img.src)

const testimonials = [
  {
    name: 'MORGAN ROSS, TECHNICAL DIRECTOR, ONTHEMARKET PLC',
    quote:
      'JUXT led the development team through this period of incredible achievements.',
    bg: 'bg-red-600'
  },
  {
    name: 'MANAGING DIRECTOR, T1 INVESTMENT BANK',
    quote:
      'The JUXT team are tremendously technically capable – delivering elegant solutions to complex problems.',
    bg: 'bg-green-800'
  },
  {
    name: 'ANDY DWELLEY',
    quote: 'XTDB has been an absolute dream to use.',
    bg: 'bg-slate-800'
  },
  {
    name: 'PATRICK GALVIN',
    quote: 'XTDB has been working great for me. It is a lovely lovely project.',
    bg: 'bg-blue-800'
  },
  {
    name: 'JULIAN GAMBLE',
    quote:
      'JUXT have made a huge contribution to the Open Source and Clojure community',
    bg: 'bg-pink-800'
  },
  {
    name: 'NIC FERRIER',
    quote:
      'They are programmers employing programmers to do work with the best tools in the most interesting ways.',
    bg: 'bg-violet-800'
  },
  {
    name: "JACOB O'BRYANT",
    quote:
      'I really appreciate the straightforward simplicity of schemaless persistence. With XTDB it was just so easy.',
    bg: 'bg-gray-800'
  }
]

const clientLogos = [
  'credit-suisse.svg',
  'citi.svg',
  'vodafone.svg',
  'on-the-market.svg',
  'mail-online.svg',
  'bbc.svg'
]

const blogs = await Astro.glob<MarkdownInstance<Blog>>('./blog/{*.md,*.mdx}')

const isDev = import.meta.env.DEV

const people = await Astro.glob<MarkdownInstance<Person>>(
  '../data/people/{*.mdx,*.md}'
)

const peopleByCode = new Map(
  people.map((person) => [person.frontmatter.code, person.frontmatter])
)

const unfilteredBlogs = await Promise.all(
  blogs.map((page) => {
    const author = page.frontmatter.author
    const person = peopleByCode.get(author)
    const expert = (isDev || !person?.expertDraft) && person?.expert
    if (!person)
      throw new Error(
        `No person found for author: '${author}' in '${page.url}'`
      )
    const permalink = page.file.split('/').slice(-1)[0].split('.')[0]
    const parsedImage = person.image.split('.').slice(0, -1)

    return new Promise<Blog>((res, rej) => {
      getImage({
        src: import(`../assets/people/${parsedImage}.jpg`),
        width: 200,
        height: 200,
        quality: 80
      })
        .then((image) => {
          res({
            ...page.frontmatter,
            href: permalink,
            person: {
              ...person,
              expert,
              image: image.src
            }
          })
        })
        .catch(rej)
    })
  })
)
const featuredBlogs = unfilteredBlogs
  .filter(({ featured, draft }) => featured && (isDev || !draft))
  .sort((a, b) => b.featured.weight - a.featured.weight)
---

<Layout title='JUXT' navbar navbarNoBg>
  <main>
    <Banner
      navbarNoBg
      text='Scaling Simplicity'
      style={{
        backgroundImage: `url(${homepageBannerPicture})`
      }}
    />
    <Section className='bg-gray-800 py-28 text-white'>
      <h2 class='pb-4 text-3xl md:text-4xl'>
        Complexity limits your organisation’s potential
      </h2>
      <p class='text-xl md:text-2xl font-extralight'>
        We are a unique software engineering firm, with a track record of
        rapidly delivering high-quality IT systems to meet challenging business
        objectives.
      </p>
    </Section>

    <Section
      className={'bg-zinc-900 bg-[length:0px_0px] bg-bottom lg:bg-cover bg-no-repeat py-20'}
    >
      <h2 class='text-4xl pb-20 text-white font-bold'>
        Simplicity Delivers Results
      </h2>
      <div class='flex flex-wrap gap-20'>
        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            1
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Delivery Focus</div>
            <div class='font-extralight text-slate-300'>
              We can lead complex multi-team engineering projects and meet tough
              deadlines
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            2
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>
              Precision Engineering
            </div>
            <div class='font-extralight text-slate-300'>
              Our highly skilled teams are collaborative and iterate quickly
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            3
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Visibility</div>
            <div class='font-extralight text-slate-300'>
              We use development processes that are optimised for visibility, to
              keep projects on track
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            4
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Modern</div>
            <div class='font-extralight text-slate-300'>
              Our tool-set empowers us to satisfy today’s demanding standards
              and user expectations, and our systems utilise the latest
              techniques for maximising performance, scalability and
              cost-efficiency
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            5
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Automation</div>
            <div class='font-extralight text-slate-300'>
              We are able to deploy into any cloud or private environment with
              speed and with reliability
            </div>
          </div>
        </div>

        <div class='flex w-full sm:w-2/3 md:w-1/2 lg:w-[28%] group gap-6'>
          <div
            class='text-3xl text-slate-300 font-medium group-hover:text-juxt transition-colors'
          >
            6
          </div>
          <div class='flex flex-col gap-4'>
            <div class='text-lg text-white font-medium'>Re-use</div>
            <div class='font-extralight text-slate-300'>
              We maintain an extensive library of battle-tested open-source
              components that fit together and allows us to deliver custom
              systems rapidly
            </div>
          </div>
        </div>
      </div>
    </Section>

    <Section className='bg-white py-20 text-black'>
      <div class='flex gap-6 md:gap-10 flex-col lg:flex-row justify-center'>
        <h2
          class='text-5xl font-extralight self-center w-96 text-right leading-normal'
        >
          JUXT Consulting Stories
        </h2>
        <div class='lg:w-[1px] h-[1px] lg:h-auto bg-black lg:py-20'></div>
        <h3
          class='text-3xl font-extralight text-center lg:text-left self-center max-w-lg sm:leading-relaxed'
        >
          Here are some of the projects we've been proud to build.
        </h3>
      </div>

      <div class='flex flex-col gap-36 py-28'>
        {caseStudiesParsed.map((caseStudy) => (
          <CaseStudy {...caseStudy.frontmatter} />
        ))}
      </div>
      <div class='flex justify-center'>
        <Clickable>
          <a href='/case-studies' class='text-lg'> See all case studies</a>
        </Clickable>
      </div>
    </Section>

    <div class='pb-20 bg-black'>
      <div class='splide py-20'>
        <div class='splide__track'>
          <ul class='splide__list'>
            {testimonials.map(({ quote, name, bg }) => (
              <li class='splide__slide'>
                <div
                  class:list={[
                    'w-full md:w-[35rem] h-72 md:h-80 border border-black p-4 md:py-10 md:px-8',
                    bg
                  ]}
                >
                  <div class='flex py-16 md:py-0 gap-6 h-full'>
                    <QuoteIcon className='w-6 h-6 md:w-10 fill-juxt shrink-0' />
                    <div class='flex flex-col justify-between text-white gap-4 max-w-xs sm:max-w-sm md:max-w-none'>
                      <div class='text-xl md:text-2xl'>{quote}</div>
                      <div class='text-sm uppercase font-semibold'>{name}</div>
                    </div>
                  </div>
                </div>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>

    <link rel='stylesheet' href='/styles/splide.min.css' />
    <script is:inline src='/scripts/splide.min.js'>

    </script>
    <script is:inline>
      document.addEventListener('DOMContentLoaded', function () {
        new Splide('.splide', {
          type: 'loop',
          perPage: 2,
          focus: 'center',
          autoWidth: true,
          rewind: true,
          rewindByDrag: true,
          padding: '10%',
          gap: '10%',
          autoplay: true,
          interval: 4000,
          pagination: true,
          throttle: 300,
          breakpoints: {
            768: {
              perPage: 1,
              padding: 0,
              arrows: false
            }
          }
        }).mount()
      })
    </script>

    <Section className='pt-20 pb-40 bg-black'>
      <div
        class='flex flex-wrap py-6 justify-center border-b border-t border-gray-800'
      >
        {clientLogos.map((logo) => (
          <img
            src={`/images/client-logos/${logo}`}
            alt=''
            class='w-32 h-32 md:w-40 md:h-40'
          />
        ))}
      </div>
    </Section>
    <Section className='text-black py-20 md:py-40'>
      <div
        class='flex flex-col-reverse items-center md:flex-row justify-center gap-10 md:gap-16'
      >
        <div class='flex flex-col gap-4 text-center md:text-left'>
          <div class='text-5xl md:text-6xl font-bold'>Talk to us</div>
          <div class='text-2xl md:text-3xl font-light'>info@juxt.pro</div>
          <div class='text-2xl md:text-3xl font-light'>
            +44 (0) 333 93 98 309
          </div>
        </div>
        <Image
          width={400}
          quality={80}
          class='w-40 md:w-60'
          src={import('../assets/site/airplane.png')}
        />
      </div>
    </Section>
    <Section
      className='py-20 dark:bg-gray-900 bg-zinc-100 text-black dark:text-white'
    >
      <h2 class='justify-center flex text-4xl pb-10 font-bold'>
        Featured Articles
      </h2>
      <div class='mx-auto max-w-6xl pt-10'>
        <div class='grid md:grid-cols-[repeat(2,_20rem)] justify-center gap-20'>
          {featuredBlogs.length
            ? featuredBlogs.map((blog) => {
                return <BlogCard client:only='preact' {...blog} />
              })
            : ''}
        </div>
      </div>
    </Section>
    <Section className='py-20 text-white bg-black'>
      <div>
        <header class='py-16 sm:text-center'>
          <h1
            class='mb-4 text-4xl font-bold tracking-tight dark:text-slate-200'
          >
            Stay in touch
          </h1>
          <p class='lg:w-1/2 mx-auto text-lg text-slate-400'>
            We'll let you know when new blogs are updated along with the latest
            in JUXT news.
          </p>
          <section class='mt-3 max-w-sm sm:mx-auto sm:px-4'>
            <h2 class='sr-only'>Sign up for our newsletter</h2>
            <form
              target='_blank'
              action='https://JUXT.us13.list-manage.com/subscribe/post?u=b72ef384b5199134185cbeed8&id=a5edacb9c2'
              method='post'
              class='flex gap-2 flex-wrap -mx-2'
            >
              <div class='grow-[9999] basis-64 mt-3'>
                <div class='group relative'>
                  <svg
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='currentColor'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    aria-hidden='true'
                    class='w-6 h-full absolute inset-y-0 left-3 text-slate-400 pointer-events-none group-focus-within:text-slate-400'
                  >
                    <path
                      d='M5 7.92C5 6.86 5.865 6 6.931 6h10.138C18.135 6 19 6.86 19 7.92v8.16c0 1.06-.865 1.92-1.931 1.92H6.931A1.926 1.926 0 0 1 5 16.08V7.92Z'
                    ></path>
                    <path d='m6 7 6 5 6-5'></path>
                  </svg>
                  <input
                    type='email'
                    id='EMAIL-2'
                    name='EMAIL-2'
                    aria-label='Email address'
                    class='appearance-none shadow ring-1 leading-5 sm:text-sm border border-transparent py-2 placeholder:text-slate-400 pl-12 pr-3 block w-full focus:outline-none focus:ring-2 bg-white bg-slate-700/20 ring-slate-200/30 focus:ring-slate-500 text-white'
                    placeholder='Subscribe via email'
                  />
                </div>
              </div>
              <div
                class='grow flex mt-3 border ring-1 ring-juxt border-juxt px-4 py-1.5 w-fit hover:bg-juxt transition-colors cursor-pointer hover:text-white visited:text-white active:text-white font-normal text-sm'
              >
                <button type='submit'>Subscribe</button>
              </div>
            </form>
          </section>
        </header>
      </div>
    </Section>
  </main>
</Layout>
