---
import { getImage } from '@astrojs/image'
import { Image } from '@astrojs/image/components'
import Banner from '../components/Banner.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import TalkToUs from '../components/TalkToUs.astro'

type StartUpsProps = {
  title: string
  tech?: string[]
  image: string
  testimonial?: { by?: string; quote?: string }
  awards?: string[]
  direction?: 'left' | 'right' | 'center'
  content: string
  weight: number
}

const startUps = await Astro.glob<StartUpsProps>('../data/startups/*.md')

const financialServicesParsed = startUps
  .sort((a, b) => a.frontmatter.weight - b.frontmatter.weight)
  .map((financial) => ({
    ...financial.frontmatter,
    content: financial.compiledContent()
  }))

const financialPicture = await getImage({
  src: import('../assets/startups/startup-bg.jpg'),
  width: 1700,
  quality: 90
}).then((img) => img.src)

const {href, origin} = Astro.url
---
 <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://deploy-preview-3--juxt-website.netlify.app/startups/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="startups">
  <meta property="og:description" content="We work closely with start-up founders to understand the mission deeply and launch an MVP. Make JUXT your technical co-founder and we can bring a wealth of experience and judgement to the early, critical stages of your start-up journey.">
  <meta property="og:image" content="https://deploy-preview-3--juxt-website.netlify.app/assets/startup-bg.a74107f2_Z1plJJL.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="deploy-preview-3--juxt-website.netlify.app">
  <meta property="twitter:url" content="https://deploy-preview-3--juxt-website.netlify.app/startups/">
  <meta name="twitter:title" content="startups">
  <meta name="twitter:description" content="We work closely with start-up founders to understand the mission deeply and launch an MVP. Make JUXT your technical co-founder and we can bring a wealth of experience and judgement to the early, critical stages of your start-up journey.">
  <meta name="twitter:image" content="https://deploy-preview-3--juxt-website.netlify.app/assets/startup-bg.a74107f2_Z1plJJL.jpg">
<Layout navbar title='Startups'>
  <main>
    <Banner
      text='Startups'
      style={{
        backgroundImage: `url(${financialPicture})`,
        backgroundPosition: 'top'
      }}
    />

    <Section className='bg-black py-20'>
      <div class='flex flex-col gap-10'>
        <h2 class='text-3xl font-normal text-white'>
          JUXT engineers have helped launch start-ups across finance, property,
          health, green-tech, and law.
        </h2>
        <div class='text-white text-xl font-extralight leading-normal'>
          We work closely with start-up founders to understand the mission deeply
          and launch an MVP. Make JUXT your technical co-founder and we can bring a wealth of experience
          and judgement to the early, critical stages of your start-up journey.
        </div>
      </div>
    </Section>

  
    <div class='flex flex-col text-black'>
      {financialServicesParsed.map((financial, idx) => {
        const isDark = idx % 2 !== 0
        const isLeft = financial.direction === 'left' || !financial.direction
        const isCenter = financial.direction === 'center'

        const sectionStyle = isLeft
          ? 'flex-col-reverse xl:flex-row-reverse'
          : isCenter
          ? 'flex-col flex-col-reverse'
          : 'flex-col-reverse xl:flex-row'

        const bannerNoExtension = financial.image.split('.')[0]

        return (
          <Section
            id={`${idx}`}
            className={`${isDark ? 'bg-black text-white' : ''} py-28`}
          >
            <div
              class={`flex items-center xl:items-start gap-16 ${sectionStyle}`}
            >
              <Image
                width={1300}
                quality={100}
                class={`${
                  isCenter ? 'place-self-center' : ' xl:w-1/2'
                } flex-shrink-0 object-cover md:w-2/3 h-[350px] xl:h-auto`}
                alt='award'
                src={import(`../assets/startups/${bannerNoExtension}.jpg`)}
              />
              <div class={isCenter ? 'm-auto md:w-2/3' : 'md:w-2/3 xl:w-1/2'}>
                <h2 class='text-5xl font-light pb-8'>{financial.title}</h2>
                <div class='flex flex-col gap-8'>
                  <div
                    class='flex flex-col gap-6 text-lg font-extralight'
                    {/* eslint-disable-next-line */}
                    set:html={financial.content}
                  />
                  {financial.testimonial && (
                    <div class='flex flex-col gap-2'>
                      <div class='text-lg italic'>
                        {`"${financial.testimonial.quote}"`}
                      </div>
                      <div class='font-light italic'>
                        {financial.testimonial.by}
                      </div>
                    </div>
                  )}
                  {financial.tech && (
                    <div class='flex flex-col gap-6'>
                      <h3 class='text-3xl'> Technologies</h3>
                      <div class='flex gap-2 flex-wrap'>
                        {financial.tech.map((tech) => (
                          <div class='text-sm font-light border-juxt border px-3 py-1 rounded-full'>
                            {tech}
                          </div>
                        ))}
                      </div>
                    </div>
                  )}
              
                </div>
              </div>
            </div>
          </Section>
        )
      })}
    </div>
    <TalkToUs />
  </main>
</Layout>
