---
import { Image } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import Section from '@components/Section.astro'
import Headshot from '@components/team/Headshot.astro'
import Card from '@components/team/Card.astro'

import jdt_curve from '../assets/team/headshots/curve/jdt.png'
import joe_curve from '../assets/team/headshots/curve/joe.png'
import jon_curve from '../assets/team/headshots/curve/jon.png'
import mal_curve from '../assets/team/headshots/curve/mal.png'
import jdt_circle from '../assets/team/headshots/circle/jdt.png'
import joe_circle from '../assets/team/headshots/circle/joe.png'
import jon_circle from '../assets/team/headshots/circle/jon.png'
import mal_circle from '../assets/team/headshots/circle/mal.png'

---

<Layout navbar title='The Team'>
    <Section className=''>
        <div>
            <h1>The Team</h1>
            <h1>you've been searching for</h1>
        </div>
        <p>
            At JUXT, we understand that the world of technology
            and business is not one-size-fits-all. That's why we've
            assembled a remarkable team of experts, each bringing
            their own unique skills and knowledge to the table.
        </p>
    </Section>

    <div>
        <Headshot
            name="Jon Pither"
            title="CEO"
            src={jon_curve}
        />
        <Headshot
            name="Malcolm Sparks"
            title="CTO"
            src={mal_curve}
        />
        <Headshot
            name="Joe Littlejohn"
            title="Head of Delivery"
            src={joe_curve}
        />
        <Headshot 
            name="Jeremy Taylor"
            title="Head of Product - XTDB"
            src={jdt_curve}
            alt="Jeremy Taylor, Head of Product (XTDB)"
        />
    </div>

    <div>
        <h3>Your Vision, Our Expertise</h3>
        <p>
            Our experts are at the forefront of innovation in various domains,
            ensuring that we provide tailored solutions for your specific needs.
        </p>
    </div>

    <div>
        <h3>Why Choose JUXT?</h3>
        <ol>
            <li>
                Proven Excellence: Our experts have a track record of delivering successful results, consistently overcoming complex challenges.
            </li>
            <li>
                Industry Recognition: We've received industry accolades, awards, and affiliations that underline our commitment to excellence.
            </li>
            <li>
                Client Success Stories: Our clients' success stories and testimonials speak to the impact our experts have had on their businesses.
            </li>
        </ol>
    </div>

    <div>
        <h3>Experience the Difference</h3>
        <p>
            In a world where businsess success depends on innovation
            and expertise, choosing the right partner is paramount. Our
            team at JUXT is dedicated to making a difference in your
            business, ensuring that you receive the solutions that match
            your unique requirements. Elevate Your Business with JUXT.
        </p>
    </div>

    <div>
        <Card
            name="Jon Pither"
            title="CEO"
            src={jon_circle}
            expertise={[
                "Business Strategy",
                "Leadership & Vision",
                "Strategic Partnerships",
            ]}
        />
        <Card
            name="Malcolm Sparks"
            title="CTO"
            src={mal_circle}
            expertise={[
                "APIs",
                "Cybersecurity",
                "Scalability",
            ]}
        />
        <Card
            name="Joe Littlejohn"
            title="Head of Delivery"
            src={joe_circle}
            expertise={[
                "Platform Engineering",
                "Discoveries",
                "Client Satisfaction",
            ]}
        />
        <Card
            name="Jeremy Taylor"
            title="Head of Product - XTDB"
            src={jdt_circle}
            alt="Jeremy Taylor, Head of Product (XTDB)"
            expertise={[
                "Data Analysis",
                "Risk Management",
                "Product Launch",
            ]}
        />
    </div>
</Layout>
