---
import AssetImage from '@components/team/AssetImage.astro'
import Layout from '@layouts/Layout.astro'
import ContactUsFormXT24 from '@components/ContactUsFormXT24'
import { LinkedInIcon } from '@components/Icons'

const speakers = [
    {
        name: 'Francine Bennett',
        role: 'Interim Director & Board Member',
        company: 'Ada Lovelace Institute',
        image: '/src/assets/xt24/francine-bennett.png',
        linkedin: 'francine-bennett-a4a852'
    },
    {
        name: 'Zohar Melamed',
        role: 'Quantitative Technical Director',
        company: 'Qube Research and Technology',
        image: '/src/assets/xt24/zohar-melamed.png',
        linkedin: 'zohar-melamed-ba7394'
    },
    {
        name: 'Allen Rohner',
        role: 'Founder & CTO',
        company: 'Griffin Bank',
        image: '/src/assets/xt24/allen-rohner.png',
        linkedin: 'allenrohner'
    },
    {
        name: 'Kim Johannessen',
        role: 'CTO',
        company: 'Consulting',
        image: '/src/assets/xt24/kim-johannessen.png',
        linkedin: 'kjohannessen'
    },
    {
        name: 'Vlad Yatsenko',
        role: 'Co-founder & CTO',
        company: 'Revolut',
        image: '/src/assets/xt24/vlad-yatsenko.png',
        linkedin: 'yatsenko'
    },
    {
        name: 'Malcolm Sparks',
        role: 'CTO & Co-founder',
        company: 'JUXT',
        image: '/src/assets/xt24/malcolm-sparks.png',
        linkedin: 'malcolmsparks'
    },
    {
        name: 'Oliver Hine',
        role: 'Lead Consultant',
        company: 'JUXT',
        image: '/src/assets/xt24/oliver-hine.png',
        linkedin: 'oliyh'
    },
    {
        name: 'Sebastian Ferraccù',
        role: 'CEO',
        company: 'Artis.Works',
        image: '/src/assets/xt24/sebastian-ferraccu.png',
        linkedin: 'sebastian-ferraccù-27b9b71ba'
    },
    {
        name: 'Manpreet Babbra',
        role: 'CTO',
        company: 'Artis.Works',
        image: '/src/assets/xt24/manpreet-babbra.png',
    },
]
---
<Layout title='XT24 Fintech Conference' noFooter>
  <div class="bg-zinc-800">
    <div class='container max-w-6xl mx-auto min-h-screen p-5 sm:p-10 flex flex-col text-white'>
      <!-- JUXT Logo -->
      <div class="w-full flex flex-row justify-end">
        <a href="/">
          <img width={100} src="/images/logo-on-dark.svg" alt="JUXT Logo" />
        </a>
      </div>

      <!-- XT24 Logo & copy -->
      <div class="grid grid-cols-1 lg:grid-cols-2 py-5 lg:pb-16">
        <div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-1">
            <img src="/images/XT24.png" alt="XT24 Logo" />
            <h1 class="text-juxt text-4xl md:text-6xl font-bold uppercase">FinTech <br/> Conference</h1>
          </div>
          <p class="w-full font-semibold sm:font-normal sm:text-xl uppercase">
            Scaling Simplicity in Financial Technology
          </p>
        </div>
      </div>

      <!-- Main content -->
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-flow-col gap-5">
        <!-- Blurb -->
        <p class="font-light">
          Engineering Leaders from global banks, fintech companies and hedge funds are meeting in Milton Keynes to explore how groundbreaking technology concepts, tools and solutions are shaping the future of financial services.
        </p>

        <!-- Details -->
        <h2 class="uppercase text-juxt font-semibold sm:font-normal sm:text-xl">9 may 2024 | Unity Place | Milton Keynes</h2>

        <!-- Event plan -->
        <div class="grid grid-cols-1 sm:max-lg:grid-cols-2 gap-5">
          <div>
            <h3>9AM - 4PM</h3>
            <p class="font-light">
              Join fintech leaders for a day of tech talks covering GenAI, Platform Engineering, Embedded Banking, RegTech, Data Governance, System Design, Architecture and more.
            </p>
            <p class="font-light pt-2">
              Full Agenda and Speaker List coming soon
            </p>
          </div>

          <div>
            <h3>4PM - 7PM</h3>
            <p class="font-light">
              Enjoy an evening of networking and mingling - exclusive access to the Sky Bar, complete with drinks and food.
            </p>
          </div>
        </div>

        <!-- Address -->
        <div class="flex items-end max-lg:order-last">
          <p class="uppercase text-xs sm:text-base">Unity Place | 200 Grafton Gate | Milton Keynes | MK9 1UP</p>
        </div>

        <!-- Form -->
        <div class="row-span-4 flex flex-col gap-4 bg-white p-10 text-black">
          <span class="text-juxt text-2xl font-semibold uppercase self-center">This event is invite-only</span>
          <p class="uppercase text-center">
            Want us to contact you if spots open up?
            <br/>
            Leave us your details, and we'll get back to you.
          </p>
          <ContactUsFormXT24 client:only subject="XT24 RFI" />
        </div>
      </div>

      <!-- Speakers -->
      <div class="flex flex-col pt-5 sm:pt-20 gap-6 items-center sm:items-start">
        <h2 class="uppercase text-juxt font-semibold sm:font-normal sm:text-xl">Speakers</h2>
        <div class="flex flex-wrap gap-4 justify-center">
          { speakers.map(({name, role, company, image, linkedin, }) => (
            <a href={linkedin && `https://www.linkedin.com/in/${linkedin}`} target="_blank">
              <div class="flex flex-col items-center">
                <AssetImage class="mx-3 w-44 h-64 object-cover object-center" src={image} alt={`Headshot of ${name}`} />
                <div class="flex items-center gap-2">
                  <h3>{name}</h3>
                  { linkedin && <LinkedInIcon className="w-3 h-3 fill-cyan-700" /> }
                </div>
                <p class="font-extralight text-xs">{role}</p>
                <p class="font-extralight text-xs">{company}</p>
              </div>
            </a>
          ))}
        </div>
        <p class="w-full font-semibold sm:font-normal sm:text-xl text-center">
          More speakers to be announced soon
        </p>
      </div>
    </div>
  </div>
</Layout>
