---
import AssetImage from '@components/team/AssetImage.astro'
import Layout from '@layouts/Layout.astro'
import ContactUsFormXT24 from '@components/ContactUsFormXT24'
import XT24Agenda from '@components/XT24Agenda.astro'
import { LinkedInIcon } from '@components/Icons'
import speakers from '../data/xt24/speakers.json';
---
<Layout title='XT24 Fintech Conference - Agenda'>
  <div class="bg-zinc-800 pb-5">
    <div class='container max-w-6xl mx-auto min-h-screen flex flex-col text-white'>
      <!-- JUXT Logo -->
      <div class="w-full p-5 sm:p-10 flex flex-row justify-end">
        <a href="/">
          <img width={100} src="/images/logo-on-dark.svg" alt="JUXT Logo" />
        </a>
      </div>

      <!-- XT24 Logo & copy -->
      <div class="grid grid-cols-1 lg:grid-cols-2 p-5 sm:px-10 lg:pb-16">
        <a href="/xt24" class="cursor-pointer">
          <div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-1">
              <img src="/images/XT24.png" alt="XT24 Logo" />
              <h1 class="text-juxt text-4xl md:text-6xl font-bold uppercase">FinTech <br/> Conference</h1>
            </div>
            <p class="w-full font-semibold sm:font-normal sm:text-xl uppercase">
              Scaling Simplicity in Financial Technology
            </p>
            <p class="w-full pt-5">
              Want to join us? Register <span class="underline text-juxt">here</span>
            </p>
          </div>
        </a>
      </div>

      <!-- Main content -->
      <div class="flex flex-col sm:px-10">
        <XT24Agenda />
      </div>

      <!-- Speakers -->
      <div class="flex flex-col p-5 sm:pt-20 gap-6 items-center sm:items-start">
        <h2 class="uppercase text-juxt font-semibold sm:font-normal sm:text-xl">Speakers</h2>
        <div class="flex flex-wrap lg:px-10 gap-4 justify-center">
          { speakers.map(({name, role, company, image, linkedin, }) => (
            <a href={linkedin && `https://www.linkedin.com/in/${linkedin}`} target="_blank">
              <div class="flex flex-col items-center">
                <AssetImage class="mx-3 w-44 h-64 object-cover object-center" src={image} alt={`Headshot of ${name}`} />
                <div class="flex items-center gap-2">
                  <h3>{name}</h3>
                  { linkedin && <LinkedInIcon className="w-3 h-3 fill-cyan-700" /> }
                </div>
                <p class="font-extralight text-xs">{role}</p>
                <p class="font-extralight text-xs">{company}</p>
              </div>
            </a>
          ))}
        </div>
      </div>

      <p class="font-thin text-sm sm:px-10">
        *Please note agenda and speakers are subject to change
      </p>
    </div>
  </div>
</Layout>
