---
import { Person } from '../layouts/Expert.astro'
import BlogAuthor from './BlogAuthor.astro'
import DraftBanner from './DraftBanner'
import { PencilIcon } from './Icons'

export type BlogProps = {
  draft?: boolean
  title: string
  description: string
  publishDate: string
  featured: { weight: number }
  author: string
  person: Person
  category: string
  slug: string
  href: string
  heroImage: {
    src: string
    alt: string
  }
}

const { title, publishDate, description, category, href, draft, person } =
  Astro.props as BlogProps
---

<div
  class='blog-card cursor-pointer flex justify-between flex-col w-80 mx-auto bg-gradient-to-b from-white to-neutral-100 dark:from-slate-700 dark:to-slate-800 min-h-[24rem] overflow-hidden relative shadow-lg hover:shadow-2xl transition-shadow'
>
  <div
    class='text-black px-4 py-4 w-full h-full relative flex flex-col justify-between'
  >
    <div class='flex flex-col pb-10 gap-10'>
      <div class='flex justify-between items-center font-mono'>
        <div class='flex gap-2 items-center'>
          <div
            class='flex items-center justify-center bg-orange-100 dark:bg-gray-800 rounded-full w-8 h-8'
          >
            <PencilIcon className='w-4 h-4 stroke-juxt dark:stroke-slate-300' />
          </div>
          <div class='text-juxt dark:text-zinc-300 capitalize text-sm'>
            {category}
          </div>
        </div>

        <div class='text-zinc-600 dark:text-zinc-300 text-xs'>
          {publishDate}
        </div>
      </div>

      <a href={href} class='flex flex-col gap-4'>
        <h2
          class='dark:text-zinc-50 text-2xl font-light capitalize underline-offset-4 hover:underline'
        >
          {title}
        </h2>
        <h3 class='dark:text-zinc-50 font-light'>{description}</h3>
      </a>
    </div>
    {person.expertHref ? (
      <a href={person.expertHref} class='group flex gap-4 w-fit'>
        <BlogAuthor {...person} />
      </a>
    ) : (
      <div class='group flex gap-4 w-fit'>
        <BlogAuthor {...person} />
      </div>
    )}
  </div>
  <DraftBanner draft={draft} pageName='Blog' />
</div>

<script is:inline>
  document.querySelectorAll('.blog-card').forEach((card) => {
    card.addEventListener('click', () => {
      window.location.href = card.querySelector('a').href
    })
  })
</script>
