---
import {
  BlueskyIcon,
  GithubIcon,
  LinkedInIcon,
  SpotifyIcon,
  TwitterIcon,
  YoutubeIcon,
  DiscussIcon
} from './Icons'

type NavigationItem = {
  href: string
  className?: string
  label?: string
  flag?: boolean
  icon?: string
  image?: string
  alt?: string
}

type Navigation = {
  groupLabel: string
  items: NavigationItem[]
}

const navigation = await Astro.glob<{ footer: Navigation[] }>(
  '../data/metadata.json'
)

const [{ footer }] = navigation

function renderIcon(item: NavigationItem) {
  const Icon = item.icon
    ? {
        github: GithubIcon,
        linkedin: LinkedInIcon,
        twitter: TwitterIcon,
        bluesky: BlueskyIcon,
        youtube: YoutubeIcon,
        spotify: SpotifyIcon,
        discuss: DiscussIcon
      }[item.icon]
    : null

  if (item.icon && !Icon) throw new Error('No icon provided')
  return Icon
}

const followUs = [
  { icon: GithubIcon, link: 'https://github.com/juxt', name: 'Github' },
  {
    icon: LinkedInIcon,
    link: 'https://www.linkedin.com/company/juxt-juxt-pro-/mycompany/',
    name: 'LinkedIn'
  },
  { icon: TwitterIcon, link: 'https://twitter.com/juxtpro', name: 'Twitter' },
  {
    icon: BlueskyIcon,
    link: 'https://bsky.app/profile/juxtpro.bsky.social',
    name: 'Bluesky'
  },
  {
    icon: YoutubeIcon,
    link: 'https://www.youtube.com/@juxt4112',
    name: 'YouTube'
  },
  {
    icon: SpotifyIcon,
    link: 'https://open.spotify.com/show/2sQiB5T3x1rL3nwyLef6kg',
    name: 'JUXT Cast'
  }
]
---

<div class='w-full text-white bg-black py-20'>
  <div class='mx-auto max-w-7xl px-4 sm:px-12 2xl:px-0 gap-16'>
    <div class='flex gap-8 sm:gap-20 flex-col sm:flex-row'>
      <div class='flex flex-col gap-6 text-sm shrink-0'>
        <div class='w-40'>
          <img class='w-full' src='/images/logo.svg' alt='JUXT Company Logo' />
        </div>

        <div class='flex flex-col gap-3'>
          <div class='flex flex-col gap-2'>
            <div class='font-semibold text-zinc-300'>Head Office</div>
            <div class='flex flex-col gap-1 text-xs text-zinc-400 font-light'>
              <div>Norfolk House, Silbury Blvd.</div>
              <div>Milton Keynes, MK9 2AH</div>
              <div>United Kingdom</div>
            </div>
            <div class='font-semibold text-zinc-300'>
              Tel: <a
                class='text-xs text-zinc-400 font-light hover:text-juxt'
                href='tel:03339398309'>0333 939 8309</a
              >
            </div>
          </div>

          <div class='text-zinc-300 text-xs font-light'>
            Company registration: 08457399
          </div>

          <div class='text-zinc-300 text-xs font-light'>
            Copyright © JUXT LTD. 2012-2024
          </div>
          <a
            href='/privacy-policy'
            class='text-zinc-300 text-xs font-light underline'
          >
            Privacy Policy
          </a>
          <a
            href='/terms-of-use'
            class='text-zinc-300 text-xs font-light underline'
          >
            Terms of Use
          </a>
          <a href='/contact' class='text-zinc-300 text-xs font-light underline'>
            Contact Us
          </a>
        </div>
      </div>

      <div
        class='flex flex-col md:flex-row flex-wrap lg:justify-between gap-8 sm:gap-10 w-full'
      >
        {
          footer.map((group) => {
            return (
              <div class='flex flex-col gap-4 font-light'>
                <div class='text-zinc-400 text-sm text-bold'>
                  {group.groupLabel}
                </div>
                <div class='flex flex-col gap-4 font-light'>
                  {group.items.map((item) => {
                    const Icon = renderIcon(item)

                    return (
                      <a
                        class:list={[
                          'w-fit group flex gap-1 items-center text-zinc-100 capitalize text-xs hover:text-juxt transition-colors',
                          item.className
                        ]}
                        href={item.href}
                      >
                        {item.label && (
                          <div class='flex gap-2 items-center'>
                            {item.icon && (
                              <div class='w-4'>
                                <Icon className='fill-white group-hover:fill-juxt transition-all' />
                              </div>
                            )}

                            {item.label}
                          </div>
                        )}
                        {item.image && (
                          <img
                            class='w-16'
                            src={item.image}
                            alt={item.alt || ''}
                          />
                        )}
                        {item.flag && (
                          <div class='font-normal uppercase text-[0.6rem] rounded-lg bg-gray-700 tracking-wider text-white px-1.5 py-[0.1rem]'>
                            {item.flag}
                          </div>
                        )}
                      </a>
                    )
                  })}
                </div>
              </div>
            )
          })
        }
      </div>
    </div>

    <div class='flex flex-col justify-center gap-8 lg:gap-10 mt-8 lg:mt-4'>
      <div class='flex flex-col items-center gap-2'>
        <div class='text-zinc-400 text-sm text-bold text-center'>
          Get industry news, insights, research, updates and events directly to
          your inbox
        </div>

        <div class='flex flex-row gap-6 justify-center'>
          <section class='max-w-sm sm:mx-auto sm:px-4'>
            <h2 class='sr-only'>Sign up for our newsletter</h2>
            <form
              target='_blank'
              action='https://JUXT.us13.list-manage.com/subscribe/post?u=b72ef384b5199134185cbeed8&id=a5edacb9c2'
              method='post'
              class='flex gap-2 -mx-2'
            >
              <div class='grow-[9999] basis-64 mt-3'>
                <div class='group relative'>
                  <svg
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='currentColor'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    aria-hidden='true'
                    class='w-6 h-full absolute inset-y-0 left-3 text-slate-400 pointer-events-none group-focus-within:text-slate-400'
                  >
                    <path
                      d='M5 7.92C5 6.86 5.865 6 6.931 6h10.138C18.135 6 19 6.86 19 7.92v8.16c0 1.06-.865 1.92-1.931 1.92H6.931A1.926 1.926 0 0 1 5 16.08V7.92Z'
                    ></path>
                    <path d='m6 7 6 5 6-5'></path>
                  </svg>
                  <input
                    type='email'
                    id='EMAIL-2'
                    name='EMAIL-2'
                    aria-label='Email address'
                    class='appearance-none shadow ring-1 leading-5 sm:text-sm border border-transparent py-2 placeholder:text-slate-400 pl-12 pr-3 block w-full focus:outline-none focus:ring-2 bg-white bg-slate-700/20 ring-slate-200/30 focus:ring-slate-500 text-black'
                    placeholder='Subscribe via email'
                  />
                </div>
              </div>
              <div
                class='grow flex mt-3 border ring-1 ring-juxt border-juxt px-4 py-1.5 w-fit hover:bg-juxt transition-colors cursor-pointer hover:text-white visited:text-white active:text-white font-normal text-sm justify-center'
              >
                <button type='submit'>Subscribe</button>
              </div>
            </form>
          </section>
        </div>
      </div>

      <div class='flex flex-col gap-4'>
        <div class='text-zinc-400 text-sm text-bold text-center'>Follow Us</div>
        <div class='flex gap-4 font-light flex-wrap justify-center'>
          {
            followUs.map(({ icon: Icon, link, name }) => (
              <a
                target='_blank'
                class='group text-zinc-100 flex gap-2 items-center text-xs capitalize hover:text-juxt transition-colors'
                href={link}
              >
                <div class='w-4'>
                  <Icon className='fill-white group-hover:fill-juxt transition-all' />
                </div>
                <p>{name}</p>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
