---
import type { Person } from '../components/Blog'
import DraftBanner from '../components/DraftBanner'
import { LinkedInIcon, RedditIcon, TwitterIcon } from '../components/Icons'
import Layout from './Layout.astro'

export interface Props {
  title: string
  description: string
  category: string
  publishDate: string
  author: string
  heroImage?: {
    src: string
    alt: string
  }
}

const { title, description, heroImage, category, author, draft } = Astro.props
  .content as Props & { draft: boolean }

const people = await Astro.glob<Person>('../data/people/*.json')

const { name, lastName, jobTitle, image } = people.find(
  (person) => person.code === author
)
const blogHref = Astro.url.href
const shareIconStyle =
  'fill-zinc-800 dark:fill-zinc-300 hover:fill-juxt dark:hover:fill-juxt transition-colors'
---

<Layout navbar>
  <DraftBanner draft={draft} pageName='Blog' />
  <main class='transition-colors'>
    <div class='px-4 sm:px-12 2xl:px-0 max-w-6xl mx-auto'>
      <div class='flex flex-col lg:flex-row gap-12 items-center pt-10'>
        <div
          class='flex text-center max-w-xl mx-auto lg:text-left lg:max-w-none lg:w-1/2 lg:mx-0 flex-col lg:justify-center items-center lg:items-start'
        >
          <div
            class='text-sm font-extrabold uppercase pb-1 text-zinc-500 dark:text-zinc-200'
          >
            {category}
          </div>
          <h1
            class='text-black text-4xl dark:text-white font-semibold leading-tight pb-4'
          >
            {title}
          </h1>
          <h2 class='text-lg text-zinc-600 dark:text-zinc-300'>
            {description}
          </h2>

          <a
            href='/to/some/profile'
            class='group flex gap-4 w-fit items-center pt-12'
          >
            <div class='flex-shrink-0 flex flex-col gap-3'>
              <div class='w-24 h-24 rounded relative overflow-hidden'>
                <img
                  class='absolute w-full h-full object-cover'
                  src={`/images/people/${image}`}
                  alt='author'
                />
              </div>
            </div>
            <div class='flex flex-col gap-1 text-left'>
              <div
                class='text-lg font-bold group-hover:underline dark:text-zinc-100 underline-offset-2'
              >
                <div>{`${name} ${lastName}`}</div>
              </div>
              <div class='text-zinc-700 leading-snug w-36 dark:text-zinc-300'>
                {jobTitle}
              </div>
            </div>
          </a>
        </div>
        <img
          class='w-full max-w-3xl lg:max-w-none lg:w-1/2 object-cover'
          src={heroImage.src}
          alt=''
        />
      </div>

      <div
        class='pb-20 pt-6 flex justify-center items-center gap-4 lg:justify-end'
      >
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://twitter.com/intent/tweet?url=${blogHref}&title=${title}`}
          >
            {(<TwitterIcon className={shareIconStyle} />)}
          </a>
        </div>
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://www.reddit.com/submit?url=${blogHref}&title=${title}`}
          >
            {(<RedditIcon className={shareIconStyle} />)}
          </a>
        </div>
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://www.linkedin.com/sharing/share-offsite/?url=${blogHref}&title=${title}`}
          >
            {(<LinkedInIcon className={shareIconStyle} />)}
          </a>
        </div>
      </div>
    </div>

    <article
      class='px-4 pb-20 lg:px-0 mx-auto prose prose-a:text-juxt hover:prose-a:text-black prose-a:transition-colors dark:prose-invert'
    >
      <slot />
    </article>
  </main>
</Layout>
