---
import { getImage, Image } from 'astro:assets'
import { MarkdownInstance } from 'astro'
import '../blog.css'
import DraftBanner from '@components/DraftBanner'
import { LinkedInIcon, RedditIcon, TwitterIcon } from '@components/Icons'
import { Blog, Person } from '@utils/types'
import Layout from './Layout.astro'
import Section from '@components/Section.astro'
import { parseBlogs, formatDate } from '@utils/common'
import DarkModeSwitch from '../components/DarkModeSwitch'

const {
  title,
  description,
  publishedDate,
  heroImage,
  category,
  author,
  draft,
  clojureIn: { quote }
} = Astro.props.content as Blog

const blogs = await Astro.glob<MarkdownInstance<Blog>>(
  '../pages/blog/{*.mdx,*.md}'
)

const people = await Astro.glob<MarkdownInstance<Person>>(
  '../data/people/{*.mdx,*.md}'
)

const person = people.find((person) => person.frontmatter.code === author)

if (!person) {
  throw new Error(`Author ${author} not found`)
}

const {
  frontmatter: { name, lastName, jobTitle, image }
} = person
const personImageFilename = image.split('.').slice(0, -1)

const blogsWithoutCurrent = blogs.filter(
  (blog) => blog.frontmatter.title !== title && !blog.frontmatter.draft
)

type GroupedBlogs = {
  authorCategory: MarkdownInstance<Blog>[]
  category: MarkdownInstance<Blog>[]
  author: MarkdownInstance<Blog>[]
}

// To index the blogs that share author && catagory or just one with the current blog
const groupedBlogs: GroupedBlogs = blogsWithoutCurrent.reduce(
  (coll, blog) => {
    if (blog.frontmatter.title !== title) {
      if (
        blog.frontmatter.author === author &&
        blog.frontmatter.category === category
      ) {
        coll.authorCategory.push(blog)
      } else if (blog.frontmatter.category === category) {
        coll.category.push(blog)
      } else if (blog.frontmatter.author === author) {
        coll.author.push(blog)
      }
    }
    return coll
  },
  { authorCategory: [], category: [], author: [] }
)

function sortBlogsFn(coll): MarkdownInstance<Blog>[] {
  return coll.sort((a, b) => {
    return (
      new Date(b.frontmatter.publishedDate).getTime() -
      new Date(a.frontmatter.publishedDate).getTime()
    )
  })
}

const sortedBlogs = [
  ...sortBlogsFn(groupedBlogs.authorCategory),
  ...sortBlogsFn(groupedBlogs.category),
  ...sortBlogsFn(groupedBlogs.author)
]

// To take only the 3 top matches
const slicedBlogs = sortedBlogs.slice(0, 3)

const allSortedBlogs = sortBlogsFn(blogsWithoutCurrent).slice(0, 3)

const uniqueBlogs: MarkdownInstance<Blog>[] = allSortedBlogs.reduce(
  (coll, blog) => {
    const currentTitle = blog.frontmatter.title
    const isDuplicate = slicedBlogs.find(
      (blog) => blog.frontmatter.title === currentTitle
    )
    if (isDuplicate) return coll
    else {
      coll.push(blog)
      return coll
    }
  },
  []
)

const finalBlogs = [...slicedBlogs, ...uniqueBlogs].slice(0, 2)

const authorHeroImports = {
  heroImageImport: (heroImage) => import(`../assets/blog/${heroImage}.jpg`),
  authorImageImport: (authorImage) =>
    import(`../assets/people/${authorImage}.jpg`)
}

const enrichedFinalBlogs = await parseBlogs({
  rawBlogs: finalBlogs,
  rawPeople: people,
  isDev: import.meta.env.DEV,
  getImage,
  ...authorHeroImports
})

const blogHref = Astro.url.href
const shareIconStyle = 'fill-white hover:fill-juxt transition-colors'

const heroImageFilename = `${heroImage.split('.').slice(0, -1)}`

const clojureInPicture = await getImage({
  src: import('../assets/site/hero-image-clojurein.jpg'),
  width: 1700,
  quality: 90,
  alt: 'clojure in logo'
}).then((img) => img.src)
---

<Layout
  navbar
  title={title}
  ogTitle={`JUXT Blog: ${title}`}
  ogDescription={description}
  ogImage={heroImageFilename}
>
  <div
    class='flex items-end w-full min-h-[30vh] bg-cover bg-[50%_55%]'
    style={{ backgroundImage: `url(${clojureInPicture})` }}
    data-pagefind-filter="blog:true"
    data-category={category}
    data-published-date={publishedDate}
    data-person-name={name}
    data-person-last-name={lastName}
    data-person-job-title={jobTitle}
    data-pagefind-meta="category[data-category], publishedDate[data-published-date], personName[data-person-name], personLastName[data-person-last-name], personJobTitle[data-person-job-title]"
    data-pagefind-filter="personName[data-person-name], personLastName[data-person-last-name]"
    data-pagefind-sort="publishedDate[data-published-date]"
  >
    <Image
      width={200}
      quality={80}
      alt='author picture'
      class='hidden'
      src={import(`../assets/people/${personImageFilename}.jpg`)}
      data-pagefind-meta="personImage[src]"
    />
    <div class='flex justify-center w-full'>
      <div class='flex flex-col gap-2 w-2/3'>
        <h1
          class='text-white font-extrabold drop-shadow-lg shadow-black tracking-widest font-sans text-4xl md:text-5xl xl:text-6xl'
        >
          {title}
        </h1>
        <h2
          class='text-white drop-shadow-lg shadow-black tracking-widest font-sans text-2xl md:text-3xl lg:text-4xl'
          data-pagefind-meta='description'
        >
          {description}
        </h2>
        <div class='text-white font-thin'>
          {formatDate(publishedDate)}
        </div>
      </div>
    </div>
  </div>
  <div class='bg-gradient-to-b from-black to-blue-300 pb-2 flex justify-center'>
    <div class='flex flex-col w-2/3 pt-8 gap-2'>
      <div class='text-white uppercase'>
        {quote}
      </div>
      <div class='flex gap-2'>
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://twitter.com/intent/tweet?url=${blogHref}&title=${title}`}
          >
            {(<TwitterIcon className={shareIconStyle} />)}
          </a>
        </div>
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://www.reddit.com/submit?url=${blogHref}&title=${title}`}
          >
            {(<RedditIcon className={shareIconStyle} />)}
          </a>
        </div>
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://www.linkedin.com/sharing/share-offsite/?url=${blogHref}&title=${title}`}
          >
            {(<LinkedInIcon className={shareIconStyle} />)}
          </a>
        </div>
        <DarkModeSwitch client:only class={shareIconStyle} />
      </div>
      <a href='mailto:info@juxt.pro' class='text-white underline'>
        Contact us to share your story
      </a>
    </div>
  </div>

  <DraftBanner draft={draft} pageName='Blog' />
  <main class='transition-colors dark:bg-gray-900'>
    <article
      class='px-4 py-20 lg:px-0 mx-auto prose prose-a:text-juxt hover:prose-a:text-black prose-a:transition-colors dark:prose-invert dark:hover:prose-a:text-white'
      data-pagefind-body
    >
      <slot />
    </article>
    <div class='flex flex-col items-center bg-slate-800 w-full gap-4 py-10'>
      <div class='text-3xl text-white text-center font-bold'>
        Feeling inspired?
      </div>
      <div class='text-3xl text-white text-center font-bold pb-4'>
        Share your Clojure story with us!
      </div>
      <a
        href='mailto:info@juxt.pro'
        class='bg-white py-3 px-28 text-slate-800 font-semibold'
      >
        Contact Us
      </a>
    </div>

    <Section className='bg-gradient-to-b from-black to-slate-900'>
      <div class='py-10'>
        <div class='mx-auto flex flex-col gap-10' style='max-width: 80ch;'>
          <div class='text-5xl text-white font-bold'>Further Reading</div>
          <div class='text-xl text-white font-light pb-4'>
            If you enjoyed this article, here are two more Clojure success
            stories
          </div>

          <div
            class='grid lg:grid-cols-[repeat(2,_1fr)] gap-x-14 gap-y-14 py-12'
          >
            {
              enrichedFinalBlogs.map((blog) => {
                const [location, title] = blog.title.split(':')
                return (
                  <div class='w-80 mx-auto'>
                    <a
                      href={`/blog/${blog.href}`}
                      class='group cursor-pointer justify-end flex flex-col gap-4'
                    >
                      <div class='text-white flex flex-col justify-between'>
                        <h3 class='text-lg font-semibold'>
                          {location}: <br />
                          {title}
                        </h3>
                        <h5 class='font-extralight'>{blog.description}</h5>
                      </div>
                      <img class='' alt='blog' src={blog.heroImage} data-pagefind-meta="heroImage[src]" />
                      <div class='text-white font-semibold flex gap-2 items-center '>
                        Read more
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          fill='none'
                          viewBox='0 0 24 24'
                          stroke-width='1.5'
                          stroke='currentColor'
                          class='w-6 h-6'
                          display='flex'
                        >
                          <path
                            stroke-linecap='round'
                            stroke-linejoin='round'
                            d='M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5'
                          />
                        </svg>
                      </div>
                    </a>
                  </div>
                )
              })
            }
          </div>
        </div>
        <div class='py-6 flex justify-center'>
          <a
            href='/clojure-in/'
            class='bg-white py-3 px-28 text-slate-800 font-semibold text-center'
          >
            Back to Clojure In Homepage
          </a>
        </div>
      </div>
    </Section>
  </main>
</Layout>
