---
import DraftBanner from '../components/DraftBanner'
import {
  LinkedInIcon,
  PencilIcon,
  RedditIcon,
  TwitterIcon
} from '../components/Icons'
import { Blog, Person } from '../components/types'
import Layout from './Layout.astro'
import { Image } from '@astrojs/image/components'
import { MarkdownInstance } from 'astro'

const { title, description, heroImage, category, author, draft } = Astro.props
  .content as Blog

const people = await Astro.glob<MarkdownInstance<Person>>(
  '../data/people/{*.mdx,*.md}'
)

const person = people.find((person) => person.frontmatter.code === author)

if (!person) {
  throw new Error(`Author ${author} not found`)
}

const {
  frontmatter: { name, lastName, jobTitle, image, expert }
} = person

const blogHref = Astro.url.href
const shareIconStyle =
  'fill-zinc-800 dark:fill-zinc-300 hover:fill-juxt dark:hover:fill-juxt transition-colors'

const heroImageFilename = heroImage.split('.').slice(0, -1)
const personImageFilename = image.split('.').slice(0, -1)
---

<Layout navbar title={title}>
  <DraftBanner draft={draft} pageName='Blog' />
  <main class='transition-colors'>
    <div class='px-4 sm:px-12 2xl:px-0 max-w-6xl mx-auto'>
      <div class='flex flex-col lg:flex-row gap-12 items-center pt-10'>
        <div
          class='flex text-center max-w-xl mx-auto lg:text-left lg:max-w-none lg:w-1/2 lg:mx-0 flex-col lg:justify-center items-center lg:items-start'
        >
          <div class='flex gap-2 pb-1 items-center'>
            <div
              class='flex items-center justify-center bg-orange-100 dark:bg-gray-800 rounded-full w-8 h-8'
            >
              <PencilIcon className='w-4 h-4 stroke-juxt dark:stroke-slate-300'
              />
            </div>
            <div
              class='text-juxt font-medium font-mono dark:text-zinc-300 uppercase text-sm'
            >
              {category}
            </div>
          </div>
          <h1
            class='text-black text-4xl dark:text-white font-semibold leading-tight pb-4'
          >
            {title}
          </h1>
          <h2 class='text-lg text-zinc-600 dark:text-zinc-300'>
            {description}
          </h2>

          <a
            href={expert ? `/people/${author}` : '#'}
            class:list={[
              'group flex gap-4 w-fit items-center pt-12',
              { 'cursor-default': !expert }
            ]}
          >
            <div class='flex-shrink-0 flex flex-col gap-3'>
              <div class='w-24 h-24 rounded relative overflow-hidden'>
                <Image
                  width={200}
                  quality={80}
                  alt='author picture'
                  class='absolute w-full h-full object-cover'
                  src={import(`../assets/people/${personImageFilename}.jpg`)}
                />
              </div>
            </div>
            <div class='flex flex-col gap-1 text-left'>
              {name && lastName && (
                <div
                  class:list={[
                    'text-lg font-bold dark:text-zinc-100 underline-offset-2',
                    { 'group-hover:underline': expert }
                  ]}
                >
                  <div>{`${name} ${lastName}`}</div>
                </div>
              )}
              {jobTitle && (
                <div class='text-zinc-700 leading-snug w-36 dark:text-zinc-300'>
                  {jobTitle}
                </div>
              )}
            </div>
          </a>
        </div>
        <Image
          width={800}
          quality={80}
          class='w-full max-w-3xl lg:max-w-none lg:w-1/2 aspect-square object-cover'
          src={import(`../assets/blog/${heroImageFilename}.jpg`)}
        />
      </div>

      <div
        class='pb-20 pt-6 flex justify-center items-center gap-4 lg:justify-end'
      >
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://twitter.com/intent/tweet?url=${blogHref}&title=${title}`}
          >
            {(<TwitterIcon className={shareIconStyle} />)}
          </a>
        </div>
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://www.reddit.com/submit?url=${blogHref}&title=${title}`}
          >
            {(<RedditIcon className={shareIconStyle} />)}
          </a>
        </div>
        <div class='flex justify-around text-sm items-center'>
          <a
            class='w-6 h-6'
            target='_blank'
            href={`https://www.linkedin.com/sharing/share-offsite/?url=${blogHref}&title=${title}`}
          >
            {(<LinkedInIcon className={shareIconStyle} />)}
          </a>
        </div>
      </div>
    </div>

    <article
      class='px-4 pb-20 lg:px-0 mx-auto prose prose-a:text-juxt hover:prose-a:text-black prose-a:transition-colors dark:prose-invert dark:hover:prose-a:text-white'
    >
      <slot />
    </article>
  </main>
</Layout>
