---
import { getImage } from "astro:assets"
import { slugifyPath } from '@utils/common'
import Banner from '@components/Banner.astro'
import DraftBanner from '@components/DraftBanner'
import Section from '@components/Section.astro'
import Layout from './Layout.astro'
import Button from '@components/careers/Button.astro'

export type CareerPostProps = {
  location: string
  department: string
  contract: string
  position: string
  description?: string
  draft: boolean
  weight: number
  googleJobs: {
    location: string
    position: string
    publishedDate: string
    validThrough: string
    employmentType: 'FULL_TIME' | 'PART_TIME' | 'CONTRACTOR' | 'TEMPORARY' | 'INTERN' | 'VOLUNTEER' | 'PER_DIEM' | 'OTHER'
  }
}

const { location, department, contract, position, description, draft, googleJobs } = (Astro
  .props.frontmatter || Astro.props.content) as CareerPostProps

const bannerPicture = await getImage({
  src: import('../assets/site/job-profile-banner.jpeg'),
  width: 1700,
  quality: 90,
  alt: 'JUXT office'
}).then((img) => img.src)

const slug = slugifyPath(Astro.props.frontmatter.url)

const jobDescription = await Astro.slots.render('default')

const schema = JSON.stringify({
  '@context': 'https://schema.org/',
  '@type': 'JobPosting',
  title: googleJobs.position,
  description: jobDescription,
  identifier: {
    '@type': 'PropertyValue',
    name: 'JUXT',
    value: slug
  },
  datePosted: googleJobs.publishedDate,
  validThrough: googleJobs.validThrough,
  employmentType: googleJobs.employmentType,
  hiringOrganization: {
    '@type': 'Organization',
    name: 'JUXT',
    sameAs: 'https://www.juxt.pro',
    logo: 'https://juxt.pro/images/adv-juxt-logo.png'
  },
  applicantLocationRequirements: {
    '@type': 'Country',
    name: 'United Kingdom'
  },
  jobLocationType: 'TELECOMMUTE',
  jobLocation: {
    '@type': 'Place',
    address: {
      '@type': 'PostalAddress',
      addressLocality: googleJobs.location,
      addressCountry: 'GB'
    }
  }
})
---

<Layout navbar title={position} ogDescription={description}>
  <script slot='head' type='application/ld+json' set:html={schema}></script>
  <main class='transition-colors bg-white'>
    <Banner
      text='Job Profile'
      style={{
        backgroundImage: `url(${bannerPicture})`
      }}
    />
    <DraftBanner draft={draft} pageName='Job Profile' />
    <Section>
      <div
        class='flex flex-col lg:flex-row gap-20 py-16 text-black overflow-visible relative'
      >
        <div
          class='flex flex-col lg:w-1/3 shrink-0 lg:sticky lg:top-28 self-start'
        >
          <div class='text-lg text-zinc-800 font-semibold'>
            {department}
          </div>
          <div class='text-md text-zinc-800'>
            {position}
          </div>
          <div class='text-zinc-700 text-sm'>
            {contract}
          </div>
          <div class='text-sm text-zinc-700'>
            {location}
          </div>

          <div class='mt-4 text-sm font-medium font lg:w-60 text-zinc-800'>
            To apply, send your CV and a short covering letter to
            <span class='text-zinc-600'> careers@juxt.pro</span>
          </div>
          <div class='mt-4'>
            <a href={`mailto:careers@juxt.pro?subject=JOB APPLICATION: ${position}`} >
              <Button theme='dark-hovered'>
                APPLY NOW
              </Button>
            </a>
          </div>
        </div>
        <div
          class='prose prose-a:text-juxt hover:prose-a:text-black prose-a:transition-colors'
        >
          <slot />
        </div>
      </div>
    </Section>
  </main>
</Layout>
