---
import { QuoteIcon } from '../components/Icons'
import { Image } from '@astrojs/image/components'

export type CaseStudyProps = {
  title: string
  subtitle: string
  outcome: string[]
  tech: string[]
  image: string
  testimonial?: { by?: string; quote?: string; role?: string }
  pages: { [key: string]: { weight: number } }
}

const { title, subtitle, outcome, tech, testimonial, image } =
  Astro.props as CaseStudyProps
console.log(Astro.props.image)
const caseStudyImageFilename = image.split('.').slice(0, -1)
---

<div
  class='transition-colors text-black flex flex-col lg:flex-row lg:even:flex-row-reverse items-center gap-16'
>
  <div class='lg:w-1/2 flex flex-col gap-6'>
    <div class='flex flex-col gap-2'>
      <h2 class='text-4xl'>{title}</h2>
      <h3 class='text-2xl font-light'>{subtitle}</h3>
    </div>
    <div class='flex flex-col gap-2'>
      <div class='text-lg uppercase font-semibold text-zinc-600'>Outcome</div>
      <div class='flex flex-col gap-4 font-light text-lg'>
        {outcome.map((p) => <p>{p}</p>)}
      </div>
    </div>
    <div class='flex flex-col gap-2'>
      <div class='text-lg uppercase font-semibold text-zinc-600'>tech</div>
      <div class='flex gap-2 font-medium'>
        {tech.join(' | ')}
      </div>
    </div>
  </div>
  <div class='lg:w-1/2 flex flex-col gap-6'>
    <Image
      width={500}
      quality={80}
      class='w-full'
      src={import(`../assets/case-studies/${caseStudyImageFilename}.jpg`)}
    />
    {testimonial?.quote && (
      <div class='flex gap-2 items-baseline'>
        <QuoteIcon className='fill-juxt w-6 shrink-0' />
        <div class='flex flex-col gap-2'>
          <div class='italic font-light'>{testimonial.quote}</div>
          {(testimonial.by || testimonial.role) && (
            <div class='flex items-center gap-1'>
              <span>—</span>
              {testimonial.by && <div class='text-sm'> {testimonial.by},</div>}
              {testimonial.role && (
                <div class='text-sm'>{testimonial.role}</div>
              )}
            </div>
          )}
        </div>
      </div>
    )}
  </div>
</div>
