---
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import { capitalizeFirstLetter, currentPage } from '@utils/common'

import { getImage } from 'astro:assets'

type LayoutProps = {
  title?: string
  navbar?: boolean
  navbarNoBg?: boolean
  ogImage?: string
  ogTitle?: string
  ogDescription?: string
  noFooter?: boolean
  robots?: string
}

const url = new URL(Astro.request.url)
const currentPageName =
  currentPage(url.pathname) || (url.pathname === '/' && 'home')

type Metadata = {
  homepage: {
    featuredBlogs: string[]
    featuredCaseStudies: string[]
  }
  navbar: { label: string; href: string }[]
  footer: { label: string; href: string; flag?: string }[]
  seo: Record<string, { description: string; image?: string }>
}

const {
  title,
  navbar,
  navbarNoBg,
  ogImage,
  ogTitle,
  ogDescription,
  noFooter,
  robots
} = Astro.props as LayoutProps

const [{ seo }] = await Astro.glob<Metadata>('../data/metadata.json')

const currentDescription =
  ogDescription ?? (seo[currentPageName] && seo[currentPageName].description)

// image attributes must be all jpgs and located in src/assets/site/ dir
let imageForShare
if (seo[currentPageName] && seo[currentPageName].image) {
  const imgNoExt = seo[currentPageName].image.split('.').slice(0, -1).join('.')
  let importedPic = await getImage({
    src: import(`../assets/site/${imgNoExt}.jpg`),
    width: 1700,
    alt: 'background',
    quality: 90
  }).then((img) => img.src)
  imageForShare = `${url.origin}${importedPic}`
} else if (ogImage) {
  if (ogImage.startsWith('/')) {
    // Direct path, no dynamic import needed
    imageForShare = `${url.origin}${ogImage}`
  } else {
    // would be nice not to hardcode blog here, but then vite can't do the dynamic import...
    // this whole dynamic import thing is nasty anyway, probably its better to
    // have a seperate step for images outside astro, though the astro people say
    // they're going to fix this soon so 🤷‍♂️
    const img = await import(`../assets/blog/${ogImage}.jpg`)
    const { src } = await getImage({
      src: img.default,
      width: 1200,
      alt: 'blog background',
      height: 630
    })
    imageForShare = `${url.origin}${src}`
  }
}
const metaTitle = ogTitle ?? title ?? currentPageName
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    {
      currentDescription && (
        <meta name='description' content={currentDescription} />
      )
    }
    <!-- Meta Tags -->
    <meta property='og:url' content={url.href} />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={metaTitle} />
    {
      currentDescription && (
        <meta property='og:description' content={currentDescription} />
      )
    }
    {imageForShare && <meta property='og:image' content={imageForShare} />}
    {
      imageForShare && (
        <meta property='og:image:secure_url' content={imageForShare} />
      )
    }

    <link
      rel='alternate'
      type='application/rss+xml'
      href='/feed.xml'
      title='XTDB Blog'
    />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content={url.hostname} />
    <meta property='twitter:url' content={url.href} />
    <meta name='twitter:title' content={metaTitle} />
    {
      currentDescription && (
        <meta name='twitter:description' content={currentDescription} />
      )
    }
    {imageForShare && <meta name='twitter:image' content={imageForShare} />}

    <meta name='viewport' content='width=device-width' />
    <link href='/images/favicon.png' rel='shortcut icon' type='image/x-icon' />
    <link href='/images/favicon-apple.svg' rel='apple-touch-icon' />
    <link rel='stylesheet' href='/styles/inter.css' />
    <link rel='stylesheet' href='/styles/global.css' />
    <link rel='stylesheet' href='/styles/katex.min.css' />

    <title>{title || capitalizeFirstLetter(currentPageName)}</title>
    <!-- This is intentionally inlined to avoid FOUC -->
    <script>
      // See src/components/DarkModeSwitch.tsx for more info on dark mode setup

      // Source: https://tailwindcss.com/docs/dark-mode#supporting-system-preference-and-manual-selection
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
    <script>
      // Add a "Add to clipboard" button to all code blocks
      // TODO: maybe this could be a rehype/remark plugin?

      let blocks = document.querySelectorAll('pre')

      blocks.forEach((block) => {
        if (navigator.clipboard) {
          const container = document.createElement('div')
          container.style.position = 'relative'

          block.parentNode.insertBefore(container, block)
          container.appendChild(block)

          let button = document.createElement('button')

          button.innerText = 'Add to clipboard'
          button.className =
            'copy-button text-xs bg-gray-50 border border-zinc-200 text-zinc-600 dark:border-zinc-700 dark:bg-gray-900 dark:text-zinc-400 p-1 rounded-bl-lg'
          container.insertBefore(button, block)

          button.addEventListener('click', async () => {
            await copyCode(block, button)
          })
        }
      })

      async function copyCode(block, button) {
        let code = block.querySelector('code')
        let text = code.innerText

        await navigator.clipboard.writeText(text)

        // visual feedback that task is completed
        button.innerText = 'Code Copied'

        setTimeout(() => {
          button.innerText = 'Add to clipboard'
        }, 700)
      }
    </script>
    <script
      async
      defer
      data-website-id='4a088aa2-1e6f-4f97-9e95-9619983468de'
      src='https://bunseki.juxt.pro/t.js'></script>
    {robots && <meta name='robots' content={robots} />}
  </head>
  <body class='bg-gray-50 transition-colors'>
    {navbar && <Navbar navbarNoBg={navbarNoBg} />}
    <div class:list={[{ 'pt-14': !navbarNoBg && navbar }]}>
      <slot />
      {!noFooter && <Footer />}
    </div>
  </body>
</html>
